---
title:    'Développement itératif - Organisation'
layout:   presentation
noindex:  true
---

| # Organisation

  ---

  ## Topics

  - Outils
  - Versions
  - CI Tooling
  - État de l’art des technologies en 2015

  ---

  ## Mission mars climate orbiter

  23 Septembre 1999

  ![mars](/assets/images/prototype/mars.jpg)

  --

  ### Un problème de système

  - Système métrique
  - Système impérial

  <br>
  Coût : 120 000 000 €

  ---

  > Créer des ponts entre designer & développeurs
  >
  > – Kaelig Deloumeau-Prigent


  ---

  ## Méthode

  --

  ### Réunion efficace

  solid

  --

  ### Kanban

  --

  ### Priorisation

  ---

  ## Outils

  - Trello
  - Slack
  - Notable

  https://notable.zurb.com/dashboard/projects/DlyGlNFAeYU

  --

  ### automate EVERYTHING

  http://getsolid.io/blog/connect-solid-zapier-integrations/

  ---



  ## Semantic Versioning 2.0.0

  http://semver.org/

  --

  ## Intégration continue <br> aka CI Tooling

  --

  - [Circle CI](https://circleci.com/)
  - [Netlify](https://www.netlify.com/)
  - [Codeship](https://codeship.com/)

  --

  ### Why ?

  - Branch build flow

  [![Travis build workflow](/assets/images/prototype/travis-build-flow.png)](https://travis-ci.org/)

  ## The State of Front-End Tooling 2015

  http://ashleynolan.co.uk/blog/frontend-tooling-survey-2015-results

  ---

  ## Happy Hacking!
