---
title:    'Développement itératif - Organisation'
layout:   presentation
noindex:  true
---

| # Organisation

  ---

  ## Topics

  - Outils
  - Versions
  - CI Tooling

  ---

  ## Mission mars climate orbiter

  23 Septembre 1999

  ![mars](/assets/images/prototype/mars.jpg)

  --

  ### Un problème de système

  - Système métrique
  - Système impérial

  <br>
  Coût : 120 000 000 €

  ---

  > Créer des ponts entre designer & développeurs
  >
  > – Kaelig Deloumeau-Prigent

  ---

  ## Semantic Versioning 2.0.0

  http://semver.org/

  --

  ## Intégration continue

  - CI Tooling

  --

  [Travis](https://travis-ci.org/)
  [Codeship](https://codeship.com/)
  [beanstalk](http://beanstalkapp.com/)

  ---

  ## Happy Hacking!
