---
title:    'DEV'
layout:   presentation
noindex:  true
---

| # DEV

  ---

  __Lecture__

  git & GitHub 101

  ---

  __Exercice__

  - Finish [your setup](http://davidl.fr/setup.html)
  - add [sublime plug-in for oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh#using-oh-my-zsh)

  --

  __Exercice__

  - Select your best selphie & publish your [own Gravatar](https://gravatar.com)

  --

  __Exercice__

  - Write your CV in `.markdown`
  - You can [use fiddle](https://fiddle.md/hf9b2b9g5wbhg4tdqw99vg) to have a preview
  - Remeber the [markdown shortcuts](https://gist.github.com/flexbox/4654508)

  --

  __Exercice__

  - Open a pull-request [on classroom repo](https://github.com/flexbox/classroom/blob/master/data/students.yml)


  ---

  🍽

  ---

  ### The password problem

  [haveibeenpwned.com](https://haveibeenpwned.com/)

  --

  __Video time__

  You need a healthy life

  - [Security for password](https://support.mozilla.org/t5/Protect-your-privacy/Create-secure-passwords-to-keep-your-identity-safe/ta-p/4116)

  --

  __Exercice__

  [Google Authenticator Application](https://support.google.com/accounts/answer/1066447?hl=fr)

  - 2 AF for Gmail, GitHub, Dropbox, Heroku…

  --

  __Live Code__

  Your first `gh-page`

  https://www.npmjs.com/package/markdown-to-html

  https://<USERNAME>.github.io/<REPONAME>/

  ---

  __Video time__

  Your first domain name for your project

  https://moz.com/blog/how-to-choose-a-domain-name-whiteboard-friday

  --

  __Exercice__

  Choose your domain name

  - https://domainr.com/
  - http://www.namemesh.com/
  - http://www.domainsbot.com/

  --

  __Exercice__

  Register your website

  - https://www.google.com/webmasters
