---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # DESIGN

  ---

  __Lecture__

  [Styleguide](http://courses.davidl.fr/presentations/styleguide/#/)

  ---

  ## Design for hackers

  --

  ### Basics

  A great Layout makes users happy

  [goodui.org](https://goodui.org/)

  --

  #### Forms

  because accessibility matters

  [design-better-forms](https://uxdesign.cc/design-better-forms-96fadca0f49c#.2a250dz7n)

  --

  ### Color

  - [sipapp.io](http://sipapp.io/)
  - [Color Hunt](http://www.colorhunt.co/)
  - [materialpalette](https://www.materialpalette.com/)

  --

  ### Typography

  You can search on [Google fonts](https://fonts.google.com/)

  --

  ### Typography

  …or you can hack your font pairing with [2017 Trendy Google fonts](http://fonts.greatsimple.io/eczar-worksans/)

  <br><br>
  __protip:__ always use think tag

      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  --

  ### Icons

  - [Font Awesome](http://fontawesome.io/): font of icons
  - [TheNounProject](https://thenounproject.com/): historical icon resource
  - [MATERIAL DESIGN ICONS](https://github.com/google/material-design-icons): material system icons from Google

  --

  ## Images

  * [Pexels](https://www.pexels.com/): selective
  * [Unsplash.it](https://unsplash.it/)
  * [Medium](https://medium.com/@dustin/stock-photos-that-dont-suck-62ae4bcbe01b#.ao8yxkpgh) - stock photos that don't suck

  --

  __Exercice__

  Add some swag for your `gh-pages` cv

  1. Typography
  2. Color
  3. Layout

  ---

  🍽

  ---

  __Live Code__

  Foundation: The most advanced responsive front-end framework in the world.

  http://foundation.zurb.com/sites/docs/

  <br><br>
  > How to save time and money by removing some CSS from projects and using foundation as a dependency.

  ---

  __Exercice__

  [install Foundation](https://flexbox.gitbooks.io/foundation-101/content/dev.html)

  ---

  __Exercice__

  Buil a clone of https://www.instagram.com/ homepage

  ---

  __Exercice__

  Know your layout and works with flexbox

  http://flexboxdefense.com/
