---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # API & automation

  ---

  __Prerequiries__

  API in 10 seconds

  https://github.com/toddmotto/public-apis

  https://anapioficeandfire.com/

  ---

  __Lecture__

  Modern workflow for productive people

  http://courses.davidl.fr/presentations/workflow/#/

  --

  ## Slack

  Add your first bot

  --

  ## Zapier

  Automation

  ---

  ## Typeform

  Goodbye forms. Hello typeforms

  --

  __Exercice__

  Go to [Typeform](https://www.typeform.com/)

  _Organiser une sortie : Descente de la Lesse en kayak_

  - 16 people
  - 4 cars (ask a multiple choice)

  - Debut de l’activité à 9 heures
  - Allez-vous participer au restaurant de retour sur Lille ?

  --

  __Example__

  https://flexbox.typeform.com/to/TR5gdi

  --

  __Exercice__

  Add your Typeform to a local website (share)

  1. Create a new [project on Github](https://github.com/new)
  1. [Embed your typeform](https://www.typeform.com/help/embed-a-typeform/)

  --

  __Exercice__

  Publish on the web 🚀

  1. Add a `gh-pages` branch

  ---

  __Live Code__

  [Project management for hackers](https://medium.com/@flexbox/project-management-for-hackers-3bdcaf03dece#.sqq5dairq)

  ---

  __Live Code__

  We will introduce advanced concepts such as slim, layout, and SASS. For that, we will use a nice frontend framework called [Middleman](https://middlemanapp.com/) and we will learn to organize our `HTML` and `CSS` code in a very DRY way.

