---
title:    'GROWTH'
layout:   presentation
noindex:  true
---

| # GROWTH

  ---

  ## Taking beautiful notes that stick

  --

  ### Note taking in tech conferences

  ![](https://c2.staticflickr.com/2/1848/44790538541_13f2787413_b.jpg)

  --

  ### Sketchnoting

  --
  ![](/assets/images/leadmachine/chapter1.0.jpg)
  --
  ![](/assets/images/leadmachine/chapter1.1.jpg)
  --
  ![](/assets/images/leadmachine/chapter2.1.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.0.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.1.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.2.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.4.jpg)
  --

  __Exercice__

  - House
  - Car
  - clock
  - Book
  - Laptop
  - Boat
  - Truck
  - Train
  - Tractor
  - Montain
  - Tree
  - Hammer
  - TV
  - Trash
  - Watch

  --
  ![](/assets/images/leadmachine/chapter4.5.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.6.jpg)
  --
  __Exercice__

  Drawing people

  - Standing
  - Running
  - Walking
  - Jumping
  - Sitting
  - On the phone
  - Dancing
  - Tennis player

  --
  ![](/assets/images/leadmachine/chapter4.7.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.8.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.3.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.9.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.10.jpg)
  --

  ### Real life usecases

  [Sketchnotes on FLickR](https://www.flickr.com/photos/geekgrunge/albums/72157644681767590)

  --

  ### Use case

  1. Picture on Twitter
  1. [Connect with IFTTT](https://ifttt.com/applets/16922050d-if-new-tweet-by-_flexbox-with-hashtag-sketch-then-upload-public-photo-from-url-to-flexbox-s-photostream)
  1. Share with #sketch
  1. __Growth__ 🚀

  --

  ![](/assets/images/leadmachine/if.png)

  --

  ![](/assets/images/leadmachine/iftwitter.png)

  --

  __Your mission__

  Add automation for your FlickR / instagram profile with IFTTT
  <br><br>

  _Aujourd'hui je découvre le #sketchnoting grâce @_flexbox #awesome @efficom-lille_

  ---

  ## Email 101

  --

  ### What's wrong here ?

  ![](/assets/images/leadmachine/email-bullshit.png)


  --

  ### Don’t make me think

  [abigredbutton.tumblr.com](http://abigredbutton.tumblr.com/)

  --

  ### Hack your email


  1. Commencez par savoir la __prochaine étape que vous allez proposer__, puis notez la en première partie. Faites cela pour chaque email.
  1. Ne commencez pas par errer sans but d’un sujet à l’autre. Faite que __chaque phrase renforce la prochaine étape que vous suggérez__.
  1. Au moment où vous arrivez à la fin de votre e-mail et il est temps de proposer la prochaine étape, vous avez terminé. Vous avez déjà écrit cela.
  1. Une bonne règle de base : si un client peut simplement répondre par “Je valide” à votre e-mail, vous êtes bon.

  --

  http://vsre.info/

  --

  ![](/assets/images/leadmachine/cold-email.jpg)

  ---

  ### Hack your job hunt

  --
  __Exercice__

  Cover letter copywriting

  [Cut the bullsh$t](https://medium.com/@waxzce/je-nembauche-jamais-de-poisson-pan%C3%A9-alors-arr%C3%AAtez-de-vous-pr%C3%A9senter-comme-tel-1eb318ee8a20#.htpbvny6b)

  --

  ### What’s wrong here ?

  ![Aperture science](/assets/images/leadmachine/linkedin.png)

  --

  > J’ai vu votre profil sur linkedin…
  > <br>
  > — Lambda DIGITAL RECRUITER

  --

  __Live coding__

  Growth-hacking 101

  --

  __Exercice__

  Add swag for linkedin you [can hack my profile](https://www.linkedin.com/in/david-leuliette-456701121/)

  Give me stars ⭐ and I will send back to you

  --

  __Exercice__

  Update your Twitter Biography + add link to your leadmachine

  You [can hack my profile](https://twitter.com/_flexbox)

  --

  __Exercice__

  Update your GitHub Biography + add link to your leadmachine

  You [can hack my profile](https://github.com/flexbox)

  --

  __Exercice__

  Certification google

  https://pourlespros.withgoogle.com/profile

  --

  ## Robots in march

  🤖

  [https://github.com/LevPasha/instabot.py](https://github.com/LevPasha/instabot.py)

      $ git clone git@github.com:LevPasha/instabot.py.git
      $ python example.py
