---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # GROWTH

  ---

  __Live coding__

  Sketchnoting

  --
  ![](/assets/images/leadmachine/chapter1.0.jpg)
  --
  ![](/assets/images/leadmachine/chapter1.1.jpg)
  --
  ![](/assets/images/leadmachine/chapter2.0.jpg)
  --
  ![](/assets/images/leadmachine/chapter2.1.jpg)
  --
  ![](/assets/images/leadmachine/chapter3.0.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.0.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.1.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.2.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.4.jpg)
  --

  __Exercice__

  - House
  - Car
  - clock
  - Book
  - Laptop
  - Boat
  - Truck
  - Train
  - Tractor
  - Montain
  - Tree
  - Hammer
  - TV
  - Trash
  - Watch

  --
  ![](/assets/images/leadmachine/chapter4.5.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.6.jpg)
  --
  __Exercice__

  Drawing people

  - Standing
  - Running
  - Walking
  - Jumping
  - Sitting
  - On the phone
  - Dancing
  - Tennis player

  --
  ![](/assets/images/leadmachine/chapter4.7.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.8.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.3.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.9.jpg)
  --
  ![](/assets/images/leadmachine/chapter4.10.jpg)
  --

  __Your mission__

  Add automation for your FlickR / instagram profile with Zapier / IFTTT

  ---



  ## Email 101

  --

  ### What's wrong here ?

  ![](/assets/images/leadmachine/email-bullshit.png)


  --

  ### Don’t make me think

  [abigredbutton.tumblr.com](http://abigredbutton.tumblr.com/)

  --

  ### Hack your email


  1. Commencez par savoir la __prochaine étape que vous allez proposer__, puis notez la en première partie. Faites cela pour chaque email.
  1. Ne commencez pas par errer sans but d’un sujet à l’autre. Faite que __chaque phrase renforce la prochaine étape que vous suggérez__.
  1. Au moment où vous arrivez à la fin de votre e-mail et il est temps de proposer la prochaine étape, vous avez terminé. Vous avez déjà écrit cela.
  1. Une bonne règle de base : si un client peut simplement répondre par “Je valide” à votre e-mail, vous êtes bon.

  --

  ![](/assets/images/leadmachine/cold-email.jpg)

  ---

  ### Hack your job hunt

  --
  __Exercice__

  Cover letter copywriting

  [Cut the bullsh$t](https://medium.com/@waxzce/je-nembauche-jamais-de-poisson-pan%C3%A9-alors-arr%C3%AAtez-de-vous-pr%C3%A9senter-comme-tel-1eb318ee8a20#.htpbvny6b)

  --

  ### What’s wrong here ?

  ![Aperture science](/assets/images/leadmachine/linkedin.png)

  --

  > J’ai vu votre profil sur linkedin…
  > <br>
  > — Lambda DIGITAL RECRUITER

  --

  __Live coding__

  Growth-hacking 101

  --

  __Exercice__

  Certification google

  https://pourlespros.withgoogle.com/profile
