---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # BUILD

  ---

  ## Explore awesome lists

  https://github.com/terkelg/awesome-creative-coding

  --

  ## Never Stop Learning

  - [Newsletter](http://davidl.fr/newsletter.html)
  - Product hunt
  - Meetup

  ---

  ## It’s time to build your LEAD MACHINE

  --

  ## Maybe you need help

      $ curl -sSL https://get.rvm.io | bash -s stable
      $ sudo gem install bundler

  --

  ### Clone this repo

  https://github.com/flexbox/codeless

  git clone <REPO_URL> <FOLDER_NAME>

  --

  ### Change the remote

      $ git remote -v

      $ git remote set-url origin <PATH>

  Create a [new repo on GitHub](https://github.com/new)

  --

  ### Install middleman dependencies

      $ bundle install

  --

  ### Install a framework

      $ bower install foundation-sites -S

      $ bower install bootstrap -S

  --

  ### Work on local

      $ bundle exec middleman server

  Open your browser on [http://localhost:4567/](http://localhost:4567/)

  ---

  ## DEMO
