---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # BUILD

  ---

  ## It’s time to build yout LEAD MACHINE

  --

  ### Clone this repo

  https://github.com/flexbox/codeless

  git clone <REPO_URL> <FOLDER_NAME>

  --

  ### Change the remote

      $ git remote -v

      $ git remote set-url origin <PATH>

  Create a [new repo on GitHub](https://github.com/new)

  --

  ### Install a framework

      $ bower install foundation-sites -S

      $ bower install bootstrap -S

  --

  ### Work on local

      $ bundle exec middleman server

  Open your browser on [http://localhost:4567/](http://localhost:4567/)
