---
title:    Présentations
layout:   presentation
noindex:  true
---

|
  # Présentations

  ##### _Inspiré de faits réels_

  ---

ul
  - data.courses.each do |_code, course|
    li class="presentation--course-title"
      = link_to course['title'], course['link']
