---
title:            Présentations
layout:           presentation
meta_description: Tous les slides de présentation de Cécile Veneziani.
noindex:          true
---

h1 Présentations

ul
  - data.courses.each do |_code, course|
    li class="presentation--course-title" = link_to course['title'], "/presentations/#{course['link']}"
