@page { size: A4; margin: 0 }

@media #{$small-only} {
  header h1 small {
    line-height: 1em;
    margin-top: 1em;
  }
}

@media #{$medium-up} {
  .footer--contact--details {
    text-align: right;
  }
}

header {
  background-image: url($background-image);
  background-position: 0% 20%;
  margin-bottom: 2em;
  min-height: 250px;

  h1 {
    font-size: 3em;
    color: white;
    margin-top: 1.5em;

    small {
      color: white;
      display: block;
    }
  }
}

footer {
  .banner {
    background-image: url($background-image);
    background-position: right 62%;
    min-height: 50px;
  }

  a   { color: $body-font-color; }
  ul  { font-size: 0.75em; }
}

main {
  font-size: 0.9em;

  h1, h2, h3, h4  { font-weight: bold; }
  h2              { font-size: 2.3125em; }
  h3, h4          { font-size: 1.6875em; }

  li  { margin-left:    1em; }
  p   { margin-bottom:  1em; }

  .button { text-transform: uppercase; }
}
