.programs_print {
  .large-10,  .large-8,   .large-6,   .large-4,   .large-2  { position: relative; }
  .medium-10, .medium-8,  .medium-6,  .medium-4,  .medium-2 { position: relative; }
  .small-10,  .small-8,   .small-6,   .small-4,   .small-2  { position: relative; }

  .large-10,  .medium-10, .small-10 { width: 83.3333%; }
  .large-8,   .medium-8,  .small-8  { width: 66.6666%; }
  .large-6,   .medium-6,  .small-6  { width: 50%; }
  .large-4,   .medium-4,  .small-4  { width: 33.3333%; }
  .large-2,   .medium-2,  .small-2  { width: 16.6666%; }

  .row { padding: 0 3em 1em 3em; }

  header {
    h1 { margin-top: 2em; }
  }

  .home-icon {
    display: none;
  }

  .footer--contact--details { text-align: right; }

  .course       { margin-bottom: 10em; }
  .course--day3 { margin-bottom: 10em; }
  .course--day4 { padding-top: 3em; }
  .program      { padding-top: 4em; }
}
