$white      : #FFFFFF;
$black      : #1A1A1A;

$gray-light : #FAFAFA;
$gray       : #F1F1F1;
$gray-dark  : #727272;

$oil: #333333;

$blue:   #00BAD2;
$pink:   #E91E63;
$yellow: #EEFF41;



$primary-color:   $blue;
$secondary-color: $pink;
