$white: #FFFFFF;
$oil:   #333333;
$black: #1A1A1A;

$gray-light: #FAFAFA;
$gray:       #F1F1F1;
$gray-dark:  #727272;

$blue:   #00BAD2;
$pink:   #E91E63;
$yellow: #EEFF41;



// foundation colors
$primary-color:   $blue;
$secondary-color: $pink;
