$white: #e8eff4;
$oil:   #333333;
$black: #071013;

$gray-light: #FAFAFA;
$gray:       #F1F1F1;
$gray-dark:  #37546b;

$blue:   #2097F2;
$pink:   #E91E63;
$yellow: #EEFF41;



// foundation colors
$primary-color:   $blue;
$secondary-color: $pink;
