---
title:            How to find a subject to talk about
layout:           presentation
meta_description: Some ideas to find a subject for your new tech talk
noindex:          true
---

| # About talks
  ## How to find a subject

  --

  ## Who am I?

  [![Ruby on Rails freelance](/assets/images/avatar.png)](http://cecilitse.org/)

  Cecile

  Rails dev / coach<br/>
  Teacher at [Le Wagon](http://lewagon.org/)<br/>
  Remote worker

  ---

  ## How to find a subject?

  ---

  ## Gems

  You can talk about gems that

  - You find essential in your project <br>
    (eg. [enumerize](https://github.com/brainspec/enumerize))
  - Were recently released <br>
    (eg. [synvert](https://github.com/xinminlabs/synvert))
  - You just discovered

  --

  But what if people **already know** the gem?

  At least some wouldn't have heard about it.

  --

  And **where** can I find new gems?

  - [Ruby Weekly](http://rubyweekly.com/)
  - [RubyFlow](http://www.rubyflow.com/)
  - Ruby users on Twitter
  - [Gemsavvy](http://gemsavvy.tips/) ;-)

  ---

  ## Conferences / events

  Give feedbacks about Ruby gigs you've attended.

  - [Rails Mentors](http://ruby-nord.org/en/#rails-mentors)
  - [Ruby Belgium](http://rubybelgium.be/)
  - [Paris.rb](http://www.rubyparis.org/)
  - [ArrrrCamp](http://arrrrcamp.be/)
  - [EuRuKo](http://euruko.org/)
  - ...

  ---

  ## New formats

  You can also try different formats.

  - **Round table** - 3-5' on a specific topic <br>
    (eg. your Rails architecture)
  - **Live coding** - Showcase something <br>
    (eg. realtime chat)
  - **Quick recap** - Present a design pattern <br>
    (eg. decorators)

  ---

  ## Still no idea?

  I don't believe you!

  --

  Have a look at talks that where given in **other cities/conferences**.

  --

  **Invite speakers** or ask them if you can **reuse** their slides.

  --

  **Get in touch** with attendees during events.

  They'll tell you **on what** they're currently interested in.

  ---

  ## No more excuses!

  [@cecilitse](http://twitter.com/cecilitse)
