---
title:            Talks
layout:           presentation
meta_description: All talks from Cecile Veneziani.
noindex:          true
---

h1 Talks

ul
  - data.talks.each do |_code, talk|
    li class="presentation--course-title" = link_to talk['title'], "/talks/#{talk['link']}.html"
