---
title:    "How to travel — 100 days — off the grid"
layout:   presentation
noindex:  false
---

| ## /whois

  <div class="presentation--avatar">
    ![Ruby designer](/assets/images/avatar.png)
  </div>

  David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  Front-end developer consultant

  --

  # How to travel<br>— 100 days —<br>off the grid

  --

  > I am scared to miss something,<br> actually I am learning this awesome new JavaScript Framework. I don’t have time for travelling.

  <br>
  — A random web developer on slack

  --

  > La terre…<br>
  > Elle s’arrêtera pas de tourner !

  <br>
  — La Ruda Salska - L’odyssée Du Réel

  --

  [Hawaii Vacation on trello](https://trello.com/b/ocCuiDQ4/hawaii-vacation)

  ![Hawaii Vacation](/assets/images/offthegrid/trello-hawai.png)

  --

  # Advices to travel — _the agile way_

  ---

  # TODO

  _Before your trip_

  --

  Think __Minimum Viable Product__, take the minimum and allow a “travel stuff” budget.

  --

  ## Book your flight

  - [Google flight](https://www.google.fr/flights/)
  - [Skyscanner](https://www.skyscanner.fr/)
  - [Hopper](https://www.hopper.com/)

  Rule #2 never book an entire travel

  --

  ## Backpack

  http://www.alastairhumphreys.com/adventure-kit-list/

  --

  ## Nomad energy

  Buy a solar charger cost 40$ on amazon

  5 jours de trekking Tores del Paine need photos

  --

  ## Paper & pen

  The [moleskine hack](https://www.flickr.com/photos/geekgrunge/sets/72157663947436340)

  - Bank info
  - Check in wishlist
  - Food
  - Gift

  --

  ## ID backups

  Bring photocopy of passport & administratif stuff

  --

  ## Books

  - Lonely planet
  - Routard

  --

  ## Drop ALL your newsletters

  Clean up your inbox with [unroll.me](https://unroll.me/)

  Make a webpage http://davidl.fr/newsletter

  Hit the SPAM button

  --

  ## Health

  Inssurance and vaccin
  Lille go paster it cost 150€

  Fluo : test your credit card insurtance

  --

  ## Bank account

  --

  ## Bank account hack

  - Western Union

  img passport

  :warning: write ALL your firstnames

  ---

  # DOING

  _Traveling one step at a time_

  --

  ## Money

  Take $$$ with you
  Example Bolivie loose credit card

  - Currency iOS
  - Trail wallet

  --

  ## Sleep

  - Hostelworld
  - Airbnb
  - [Couchsurfing](https://www.couchsurfing.com/people/david-nyme)

  --

  ## Explore

  Download Google maps offline

  --

  ## Talk

  One sentence per day

  - Memrise
  - Fast talk lonely planet

  --

  ## Travel hack

  How much this bus / taxi cost ?
  Quit the shop and find some people
  How much this cost for X people ?

  --

  ## Danger

  - Hitchhicking
  - Sleep in the jungle
  - These people are going to kill you

  --

  # bullsh$t

  --

  ## I am alive

  - Skype
  - Facebook messenger
  - Whatsapp
  - World and you
  - Wechat china

  Tunnelbear

  ---

  # DONE

  _This is not the end_

  --

  Google Photos

  --

  ## Relocation hack

  How I am supposed to move this ?

  --

  http://leplus.nouvelobs.com/contribution/1560227-revenue-en-france-apres-un-tour-du-monde-de-11-mois-je-deprime-j-ai-le-blues-du-retour.html

  ## Kill your TV now

  Il est plus facile pour moi de me faire des amis sur la route que chez moi en France.

  --

  ### Bank hack

  [N26 online account bank](https://n26.com/)
  20 € / week
  80 € / month
  1000 € / year

  Taux de change = 0 commission

  --

  Deal with the post travel syndrome…

  … take vacations
