---
title:    'How to travel — 100 days — off the grid'
layout:   presentation
noindex:  false
---

|
  I am scared to miss something, actually I am learning ___________. I don't have time for travelling.

  La terre ne va pas s'arrêter de tourner

  --

  # TODO

  Think MVP, take the minimum and allow a "travel stuff" budget.

  --

  --

  ## Bagpack
  http://www.alastairhumphreys.com/adventure-kit-list/

  --

  ## Book your flight

  Google flight - skyscanner - hopper

  Rule #2 never book an entire travel

  --

  ## paper and pen

  The moleskine hack

  - Bank info
  - Check in wishlist
  - Food
  - Gift

  ID backups

  Bring photocopy of passport & administratif stuff

  --

  ## Books

  Lonely planet
  Routard

  --

  ## Drop all your newsletters

  unroll.me

  Make a webpage http://davidl.fr/newsletter

  Hit the SPAM button

  ### nomad energy

  Buy a solar charger cost 40$ on amazon

  5 jours de trekking Tores del Paine need photos

  --

  ## Health

  Inssurance and vaccin
  Lille go paster it cost 150€

  Fluo : test your credit card insurtance

  # DOING

  --

  ## Money

  Take $ with you
  Example Bolivie loose credit card

  Western Union
  Currency iOS

  Trail wallet

  --

  ## Sleep

  Hostelworld
  Airbnb
  Couchsurfing

  --

  ## Explore

  Download google maps offline

  --

  ## talk

  One sentence per day

  - Memrise
  - Fast talk lonely planet

  --

  ## travel hack

  How much this bus / taxi cost ?
  Quit the shop and find some people
  How much this cost for X people ?

  --

  ## I am alive

  Skype
  Facebook messenger
  Whatsapp
  World and you
  Wechat china

  Tunnelbear

  # DONE

  Google Photos

  Deal with the post travel syndrome…

  … take vacations
