---
title:    'jQuery 101'
layout:   presentation
noindex:  false
---

| # jQuery 101

  ---

  ## What is [jQuery](https://jquery.com/)?

  --

  - A fast and concise JavaScript library
  - Simplifies programming with pre-defined scripts
  - Makes it easier for you to add interactivity to a webpage!

  --

  > "write less, do more"

  --

  ### Example

  [Toggle function](https://www.montresandco.com/c/montres-homme.html)

  --

  ## What you can do with jQuery

  - Select and manipulate `CSS` elements, tags, attributes, … on the page to make a page come alive.
  - Create, change or add content.
  - Animate (show/hide, fadein, fadeout, …) content.

  --

  ⛔

  But avoid jQuery animations because they are not mobile first friendly. Use `CSS transitions instead.

  --


  ## jQuery triggers

  - Clicking
  - Scrolling
  - Swipes
  - Tapping
  - Drag and drop
  - Change phone orientation
  - Hovering (not mobile friendly)
  - Mouseover (not mobile friendly)
  - User form inputs

  --

  ## DEMO

  [http://codepen.io/flexbox/pen/WpxLWV](http://codepen.io/flexbox/pen/WpxLWV)

  --

  ### What’s happening?

  - jQuery checks to see if document is loaded and then waits and listens.
  - When someone clicks on the Image 2 button, it triggers a `function` to swap the image URL, or its source attribute.
  - The `function` disables the image’s corresponding button.
  - By the way, a `function` is a coding statement that performs a single task or a series of tasks.
  - When jQuery hears someone click either button, it launches the corresponding `function`.

  ---

  ## Methods

  --

  `attr()` is a jQuery method. Methods are actions that do specific things to targeted objects like `attributes`, `divs`, `tags`, `elements`, …

  Other starter methods include:

  - `addClass()`
  - `append()`
  - `prepend()`
  - Links to more methods to change [attributes](https://api.jquery.com/category/attributes/) and [CSS](https://api.jquery.com/category/css/).

  --

  ⛔

  Methods that require refreshing frames, like animation, are bad for mobile performance. We now use `CSS Transitions` and `Transformations instead.

  --

  ## DEMO

  http://codepen.io/flexbox/pen/qrNgRY

  --

  ### What’s happening?


  - HTML loads a simple sentence and jQuery checks to see if document is loaded. Then it waits and listens events.
  - When someone clicks either the append text button, it launches a `function` to adds text to the end.
  - The `function` disables the append button and enables the reset button.
  - Does the same thing for the prepend text button.

  ---

  ## CSS stlying on the fly

  --

  One of jQuery's strongest features is its ability to swap out one CSS class for another (or several), giving a webpage a sense of interactivity.

  - `css()`
  - `addClass()`
  - `removeClass()`

  --

  ## DEMO

  http://codepen.io/cunyj/pen/MJLoeY

  ---

  ## Testing and Debugging

  --

  - Use the `console.log()` method to see if a function is working.
  - Outputs valuable info to the JavaScript console.
  - Launch the console by control-click-inspect element.

  ---

  ## CSS selectors

  --

  - Use the JavaScript Console to verify you are finding correct css selector(s)
  - Open this page using inspect element or option-command-j.
  - Click on Element to quickly review the page
  - Click on Console and enter the following:
  - `$('p');` and hit enter. What do you see?
  - `$('h2:first').text();` and hit enter. What do you see?
  - `$('h2:first').html();` and hit enter. What do you see?
  - `$('ul:first').find('li');` and hit enter. What do you see?
  - List of [jQuery CSS Selectors](https://api.jquery.com/category/selectors/)

  ---

  __Exercice__

  - [DOM manipulation](https://github.com/flexbox/jquery-dom-manipulation)

  1. Fork the repo
  1. `git clone <REPONAME>` on your machine
  1. Follow the README
  1. For each modification don’t forget to commit your work

  --

  __Exercice__

  - Play with [AJAX](https://github.com/flexbox/jquery-quotes)

  1. Fork the repo
  1. `git clone <REPONAME>` on your machine
  1. Follow the README
  1. For each modification don’t forget to commit your work

  --

  __Exercice__

  [try.jquery.com](http://try.jquery.com/)
