---
title:            Formation Ruby on Rails Avancé - Les Bases
layout:           presentation
meta_description: 'Conventions de code : bonnes pratiques, qualité de code, outils & services.'
noindex:          true
---

| # Les Bases

  ---

  ## Sujets

  - Conventions de code
  - Qualité de code
  - Gems usuelles

  ---

  ## Conventions de code

  --

  ### Ruby

  [ruby-style-guide](http://github.com/bbatsov/ruby-style-guide)

  ### Ruby on Rails

  [rails-style-guide](https://github.com/bbatsov/rails-style-guide)

  ---

  ## Qualité de code

  Comment déterminer la qualité de notre code ?

  --

  ### [Rubocop](https://docs.rubocop.org/)

  ```
  Inspecting 1 file
  W

  Offenses:

  test.rb:1:5: C: Naming/MethodName: Use snake_case for method names.
  def badName
      ^^^^^^^
  test.rb:2:3: C: Style/GuardClause: Use a guard clause instead of wrapping the code inside a conditional expression.
    if something
    ^^
  test.rb:4:5: W: Layout/EndAlignment: end at 4, 4 is not aligned with if at 2, 2.
      end
      ^^^

  1 file inspected, 3 offenses detected
  ```

  --

  ### [Rubycritic](https://github.com/whitesmith/rubycritic)

  ![Rubycritic overview](/assets/images/presentations/ruby-advanced/rubycritic.png)

  ---

  ## Gems usuelles

  Les indispensables

  --

  ### Configuration

  - [pry-rails](https://github.com/rweng/pry-rails)
  - [Foreman](https://github.com/ddollar/foreman/)
  - [dotenv](https://github.com/bkeepers/dotenv)
  - [Rails Config](https://github.com/railsjedi/rails_config/)

  --

  ### Basiques

  - [Enumerize](https://github.com/brainspec/enumerize/)
  - [Carrierwave](https://github.com/carrierwaveuploader/carrierwave/)
  - [AWS SDK](https://github.com/aws/aws-sdk-ruby)
  - [Devise](https://github.com/plataformatec/devise/)
  - [Pundit](https://github.com/elabs/pundit/)
  - [High Voltage](https://github.com/thoughtbot/high_voltage/)
  - [FriendlyId](https://github.com/norman/friendly_id/)

  --

  ### Front

  - [Decent Exposure](https://github.com/hashrocket/decent_exposure/)
  - [Slim](http://slim-lang.com/)
  - [Pagy](https://github.com/ddnexus/pagy/)
  - [Simple Form](https://github.com/plataformatec/simple_form/)
  - [Cocoon](https://github.com/nathanvda/cocoon/)
  - [Reform](https://github.com/apotonick/reform/)

  --

  ### Async

  - [Delayed job](https://github.com/tobi/delayed_job/)
  - [Whenever](https://github.com/javan/whenever/)

  OU

  - [Sidekiq](https://github.com/mperham/sidekiq/)
  - [sidekiq-scheduler](https://github.com/moove-it/sidekiq-scheduler)

  --

  ### Back-office

  - [Active Admin](http://activeadmin.info/)
  - [Rails Admin](https://github.com/sferik/rails_admin/)

  --

  ### Divers

  - [Country Select](https://github.com/stefanpenner/country_select/)
  - [Holidays](https://github.com/alexdunae/holidays/)
  - [Business Time](https://github.com/bokmann/business_time/)

  ---

  ## Happy Hacking!
