---
title:            Formation Ruby on Rails Avancé - Legacy code
layout:           presentation
meta_description: 'Comment travailler avec du code existant ? Par où commencer, quoi corriger et comment ?'
noindex:          true
---

| # Legacy code
  ## Jour 4

  ---

  ## Topics

  * Où commencer
  * Corriger l'existant
  * Retravailler l'existant
  * Ajouter de nouvelles fonctionnalités

  ---

  ## Mot d'ordre

  Un changement à la fois

  ---

  ## Où commencer

  * Contrôlleurs
  * Modèles

  ---

  ## Corriger l'existant

  --

  ## Corriger l'existant

  ### Contrôlleurs

  1. Extraire la logique dans des services
  2. Utiliser [Decent Exposure](https://github.com/voxdolo/decent_exposure/)
  3. Utiliser [Reform](https://github.com/apotonick/reform/)

  --

  ## Corriger l'existant

  ### Modèles

  1. Extraire la logique dans des services.
  2. Extraire la présentation dans des décorateurs / présenteurs.
  3. Extraire les validations dans des formulaires / contrats.
  4. Extraire les requêtes dans des objets.

  ---

  ## Retravailler l'existant

  --

  ## Retravailler l'existant

  1. Tester la partie concernée
  2. Corriger l'existant
  3. Refactorer

  ---

  ## Ajouter de nouvelles fonctionnalités

  --

  ## Ajouter de nouvelles fonctionnalités

  1. Tester la partie concernée
  2. Corriger l'existant
  3. Retravailler l'existant
  4. Opter pour du TDD pour les nouvelles fonctionnalités

  ---

  ## Happy Hacking!
