---
title:            Formation Ruby on Rails Avancé - Programme
layout:           presentation
meta_description: 'Bases, Non-Rails Way, Requêtes ActiveRecard, Testing et moteurs de recherche.'
noindex:          true
---

| # Ruby on Rails
  ## Avancé
  --

h2 Programme
ul
  - data.courses.ruby_advanced.presentations.each do |link, name|
    li = link_to name, "#{link}.html"
