$body-font-color:   #333;
$background-image:  image-path('background.jpg');
$link-color:        #5E7B03;

// reset colors of foundation
$header-font-color:               $body-font-color;
$accordion-navigation-font-color: $body-font-color;
$keystroke-font-color:            $body-font-color;
$pagination-li-font-color:        $body-font-color;
$table-head-font-color:           $body-font-color;
$table-row-font-color:            $body-font-color;
$tabs-navigation-font-color:      $body-font-color;
