.button {
  text-shadow: 0px 1px 1px rgba($black, 0.2);

  &.large {
    color: $white;
  }

  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 300ms;
  transition-property: transform;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}
