@page { size: A4; margin: 0 }

@media #{$small-only} {
  header h1 small {
    line-height: 1em;
    margin-top: 1em;
  }
}

@media #{$medium-up} {
  .footer--contact--details {
    text-align: right;
  }
}

header {
  background-image: url($background-image);
  background-position: 0% 20%;
  background-size: cover;
  min-height: 250px;

  h1 {
    box-sizing: border-box;
    color: $title-color;
    font-size: 3em;
    font-weight: 500;
    margin-top: 1em;
    text-shadow: 1px 1px 5px $body-font-color;

    small {
      color: $title-color;
      display: block;
    }
  }

  .home-icon {
    @extend .fa;
    @extend .fa-home;

    color: $title-color;
    font-size: 1.5em;
    margin-top: 1em;
    opacity: 0.7;
  }
}

footer {
  .banner {
    background-image: url($background-image);
    background-position: right 62%;
    background-size: cover;
    min-height: 50px;
  }

  .footer--license {
    text-align: right;

    p {
      font-size: 0.7em;
      margin: 0.2em 0;
    }
  }
}

main {
  font-size: 0.9em;
  margin-top: 1em;

  h1, h2, h3, h4  { font-weight: bold; }
  h2              { font-size: 2.3125em; }
  h3, h4          { font-size: 1.6875em; }

  li  { margin-left:    1em; }
  p   { margin-bottom:  1em; }

  .breadcrumbs {
    background-color: transparent;
    border: none;
    margin-bottom: 1em;
    padding: 0;
  }

  .button { text-transform: uppercase; }
}
