@media #{$small-only} {
  header h1 small {
    line-height: 1em;
    margin-top: 1em;
  }
}

@media #{$medium-up} {
  .footer--contact--details {
    text-align: right;
  }
}

.m-program--content {
  margin-bottom: 50px;
}

footer {
  .banner {
    min-height: 50px;
    background-color: $gray;
  }

  .footer--license {
    text-align: right;

    p {
      font-size: 0.7em;
      margin: 0.2em 0;
      padding: 10px 0;
    }
  }
}

h1, h2, h3, h4  { font-weight: $font-weight-bold; }

main {
  margin-top: 1em;


  p   { margin-bottom:  1em; }

  .breadcrumbs {
    background-color: transparent;
    border: none;
    margin-bottom: 1em;
    padding: 0;
  }

  .button { text-transform: uppercase; }

  .panel {
    min-height: rem-calc(200);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
}
