---
title:    Talks
layout:   presentation
noindex:  true
---

h1 Talks

ul
  - data.talks.each do |_code, talk|
    li class="presentation--course-title" = link_to talk['title'], "#{talk['link']}.html"
