---
title:    'Automation for H4CK3RS'
layout:   presentation
noindex:  false
---

| # Automation for H4CK3RS

  RailsGirls - December 2018

  ---

  ## /whois

  #### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <small>Front-end Engineer</small>

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar-rinjani.jpg)
  </div>

  --

  ## Today we will be covering

  - Smart Clipboard
  - Writing text at lightning speed

  ---

  ## WHY

  --

  Eric Steven Raymond

  ![](/assets/images/automation/eric.jpg)

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  🤓

  - The world is full of fascinating problems waiting to be solved.
  - No problem should ever have to be solved twice.
  - Boredom and drudgery are evil.
  - Freedom is good.
  - Attitude is no substitute for competence.

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  🤓

  - <del>The world is full of fascinating problems waiting to be solved.</del>
  - __No problem should ever have to be solved twice.__
  - <del>Boredom and drudgery are evil.</del>
  - <del>Freedom is good.</del>
  - <del>Attitude is no substitute for competence.</del>

  --

  ### 1. [Attention span](https://en.wikipedia.org/wiki/Attention_span)

  The amount of __concentrated time a person can spend on a task__ without becoming distracted.

  <br>

  👨👩

  _Adult 10 to 20 minutes_

  --

  ### 2. Brain battery

  <br>

  🧠🔋

  - Creative brains are a valuable, __limited resource__
  - Focus on __time well spent__, automate boring stuff

  --

  ### 3. Even Batman needs help

  ![](/assets/images/automation/alfred.jpg)

  --

  ### [Alfred app](https://www.alfredapp.com/)

  ![](/assets/images/automation/aldredapp.png)

  ---

  ### How many times`/day` are you using the clipboard?

  <small>In my case it's, 200 times</small>

  --

  __Real life example__

  <br>

  ![](/assets/images/automation/cmd-tab.gif)

  --

  > Context switching is ruining your productivity

  --

  ![](/assets/images/automation/context-switching.gif)

  --

  _Clipboard Problem_

  __Not smart__ & __no History__

  --

  ### Clipboard History

  `Option` + `Cmd` + `c`

  ![](/assets/images/automation/clipboard.png)

  --

  # DEMO TIME

  ![](/assets/images/automation/cool-clipboard-history.gif)

  --

  ### Clipboard Snippets

  `Option` + `Cmd` + `c`

  Create snippets with `keywords`

  --

  # DEMO TIME

  Agile `story`

  ![](/assets/images/automation/agile-story.gif)

  --

  ### snippet auto-expansion

  ![](/assets/images/automation/snippet-expand.png)

  --

  Create snippets with variables `{time} {date}` and `{clipboard}`

  --

  # DEMO TIME

  [LinkedIn Hack](https://www.linkedin.com/messaging/)

  `!job {name}` exploit

  --

  `!job {name}` exploit

  ![](/assets/images/automation/linked-hack.gif)

  ---

  ## Q&A

  [@_flexbox](https://twitter.com/_flexbox) on twitter

  http://bit.ly/automation-part1
