@import 'reveal.js/css/theme/template/mixins';
@import 'reveal.js/css/theme/template/settings';

@import '_settings';

$linkColor:       lighten($primary-color, 20%);
$linkColorHover:  lighten($linkColor, 10%);

@mixin bodyBackground() {
  @include radial-gradient(rgba(28,30,32,1), rgba(85,90,95,1));
}

@import 'reveal.js/css/theme/template/theme';
