.program--more-details {
  @include button($button-tny);
  margin-bottom: 0;
  text-transform: uppercase;
}

.teacher--contact {
  font-size: 0.75em;

  a     { color: $body-font-color; }
  ul, p { font-size: 1em; }
  li    { margin-left: 0; }
}

.teacher--description {
  a {
    color: $body-font-color;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

.teacher--picture { width: 10em ; }
