---
title:    'Styleguide'
layout:   presentation
noindex:  true
---

| # Un guide qui a du style
  <br>
  <small>__Hit the spacebar__ for the next slide</small>

  ---

  ## Topics

  - Qu’est-ce qu’un guide de style ?
  - Pourquoi utiliser cet outil ?
  - Mise en place

  ---

  ### Problème

  Comme la publication dans l’industrie du print, nos sites ont été historiquement mis en œuvre par des prestataires ou collaborateurs, sans cohérence de conception.

  --

  De gros sites internet, axés sur du contenu avec des décennies d'articles répartis sur plusieurs plates-formes présente des __défis de maintenabilité__ pour une petite équipe.

  --

  ## Solution

  Création de styleguide

  https://www.flickr.com/photos/thisisdisplay/sets/72157627467855309/

  --

  - Comment éviter la __création de bidonvilles css__ qui créent des feuilles de styles monolithique.
  - Pourquoi cette méthode rends les développeurs internes et externes heureux.
  - Comment cette approche permet de créer des sites de façon évolutive répartis sur plusieurs plates-formes.

  ---

  ### Qu’est-ce qu’un guide de style ?

  --

  Lister les __conventions__, __modules__ et __éléments d’interface__ d’un site web (_pattern library_ en anglais)

  --

  ## 1. Architecture

  - Grille
  - Point de rupture (Responsive design)
  - Taille des contenus (Ratio des images)
  - Ordre & disposition
  - Manifeste (Directives de rédaction, messages d’erreurs formulaires…)

  --

  ## 2. Style

  - Typographie
  - Couleurs
  - Logo (Taille & placement)
  - Icônes

  --

  ## 3. Éléments

  - Boutons
  - Pagination
  - Fil d’ariane
  - Navigation
  - Info bulles
  - …

  ---

  ### Pourquoi utiliser un guide des styles ?

  --

  __Un projet sans modèle :(__

  <br>

  - Duplication de code <small>(Par méconnaissance du projet & peur de tout casser)</small>
  - Incohérences graphiques d’une page à l’autre
  - Fouilles archéologiques pour retrouver les éléments d’interface
  <br><br>
  _Construction monolithique, styles basés sur des pages_

  --

  __Guide de style = projet cohérent & de qualité :)__

  <br>

  - Plus rapide à construire
  - Design plus cohérent
  - Évolutif & robuste
  - Maintenance / debug plus facile
  - Vision d’ensemble pour tous
  <br><br>
  _Construction en composants, styles indépendants basés sur des éléments_

  --

  _Exemple d’un guide de style pour un site e-commerce_

  ![Exemple guide de style site e-commerce](/assets/images/styleguide/styleguide-example.png)

  ---

  ### Mise en place d’un guide de style

  --

  Graphistes & UX designer créent une “atmosphère de design”

  ![Base styleguide](/assets/images/styleguide/styleguide-atmosphere.png)

  --

  ## Styletile

  Pas de maquette statiques pour du contenu dynamique

  ![Exemple atmosphère de design](/assets/images/styleguide/style-tile.jpg)

  --

  Designer & Développeurs __créent ensemble__ des pages web dans un navigateur grâce au guide des styles

  --

  _Implémentation rapide & facilite les tests sur de vrais appareils_

  ![Exemple atmosphère de design](/assets/images/styleguide/layout.png)


  --

  ## Documentation<small>pour les autres développeurs</small>

  - Conventions de code
  - Détailler tous les cas de figures possibles
  - Recommandations : SEO, accessibilité…

  --

  _Exemple de guide de style disponible en ligne_

  http://flexbox.github.io/foundation-boilerplate/components/buttons.html

  ![Exemple atmosphère de design](/assets/images/styleguide/documentation.png)

  ---

  ## Exemples

  - [lonelyplanet](http://rizzo.lonelyplanet.com/styleguide/design-elements/colours)
  - [Mailchimp](http://ux.mailchimp.com/patterns)
  - [GOV.uk](http://govuk-elements.herokuapp.com/)
  - [web Design Standards](https://github.com/18F/web-design-standards)

  --

  ## Références

  - Jennifer Noesser [24joursdeweb](http://www.24joursdeweb.fr/2014/un-guide-qui-a-du-style/)
  - [findguidelin.es](http://findguidelin.es/) the fastest way to brand assets

  --

  ## Conclusion

  - Rigueur et gain de temps
  - Améliore la cohérence du design
  - Facilite la maintenance du code
  - Favorise la communication dans l’équipe
