---
layout:     program
page_title: Formation Ruby on Rails - Qualité, tests et architectures avancées
canonical:  /programs/ruby-advanced.html
title:      Formation Ruby on Rails
subtitle:   Qualité, tests et architectures avancées
---

div class="media-type--#{media_type}"
  section class="course"
    div class="row"
      div class="small-12 columns"
        h2 Formation
    div class="row"
      div class="small-12 columns"
        h3 Audience
        p = data.courses.ruby_advanced.audience
    div class="row"
      div class="small-12 columns"
        h3 Format
        p
          'C'est une formation individuelle de 5 jours, articulée autour de modules. Chaque module comporte un cours théorique et sa mise en pratique.
        p
          'Il est offert au participant de venir avec un projet sur lequel travailler afin de mettre en pratique les notions vues sur un cas concret et personnalisé.
    div class="row"
      div class="large-6 small-12 columns"
        h3 Pré-requis
        ul
          li Bonnes connaissances de Ruby et Ruby on Rails
          li Bonnes connaissances des bases de données
          li Connaissance du pattern MVC (Model View Controller)
          li Connaissance d'un environnement Unix (Linux, OSX, ...)
          li Notions de TDD (Test Driven Development)
          li Notions de moteurs de recherche (Elasticsearch, Solr, ...)
      div class="large-6 small-12 columns"
        h3 Objectifs
        ul
          li Avoir une bonne hygiène de code
          li Travailler avec le code d'une application existante et l'améliorer
          li Savoir architecturer une application Ruby on Rails complexe
          li Appréhender de nouvelles problématiques par les tests
          li Intégrer un moteur de recherche
          li Connaître les outils, services et méthodologies couramment utilisés dans la profession

  section class="program"
    div class="row"
      div class="small-12 columns"
        h2 Programme

    div class="row course--day1"
      div class="small-2 columns"
        h3 Jour 1
      div class="small-10 columns"
        h4 Introduction
        p Présentation du planning de formation, des outils et de la méthodologie qui seront employés.
        h4 Bases
        p Exploration des bases nécessaires pour la réalisation d'applications de qualité.
        ul
          li Conventions de code Ruby / Ruby on Rails
          li Plugins (gems) indispensables
          li Méthodologies usuelles de développement
          li Outils et services largement employés par la communauté Ruby
    div class="row course--day2"
      div class="small-2 columns"
        h3 Jour 2
      div class="small-10 columns"
        h4 Structure type d'une application
        p Présentation des différents composants standards d'une application Ruby on Rails.
        ul
          li Modèles
          li Vues
          li Contrôlleurs
          li Helpers
          li Lib
        h4 Structure avancée d'une application
        p Présentation des composants d'une application complexe Ruby on Rails.
        ul
          li SRP (Single Responsibility Principle)
          li Décorateurs
          li Présenteurs
          li Formulaires
          li Contrats
          li Services
          li Polices
    div class="row course--day3"
      div class="small-2 columns"
        h3 Jour 3
      div class="small-10 columns"
        h4 Tests
        p Présentation du développement par les tests.
        ul
          li TDD (Test-Driven Development)
          li RSpec
          li Plugins (gems) indispensables
          li Composants à tester impérativement
          li Tester du code existant
    div class="row course--day4"
      div class="small-2 columns"
        h3 Jour 4
      div class="small-10 columns"
        h4 Code existant
        p Compilation et application de ce qui a été vu au cours des précédants modules sur une base de code existante et ne répondant pas aux mêmes standards de qualité.
        ul
          li Où commencer
          li Corriger l'existant
          li Retravailler l'existant
          li Ajouter de nouvelles fonctionnalités
    div class="row course--day5"
      div class="small-2 columns"
        h3 Jour 5
      div class="small-10 columns"
        h4 Moteur de recherche
        p Découverte, configuration et exploitation d'Elasticsearch.
        ul
          li Installation et configuration
          li Plugins (gems) disponibles
          li Manipulation : recherche, facettes, etc.
          li Faire cohabiter deux moteurs de recherche
        h4 Rétrospective
        p Echanges sur la formation réalisée.
        ul
          li Questions/Réponses sur ce qui a été vu
          li Références, ressources et supports disponibles en ligne
          li Pistes d'amélioration
