---
code:             working_as_team
layout:           program
meta_description: "Formation Organisation d'Equipe Technique : comment s'organiser pour travailler efficacement en équipe."
breadcrumbs:      ['root', 'programs']
---

section class="course"
  div class="row"
    div class="small-12 columns"
      h2 Formation
  div class="row"
    div class="small-12 columns"
      h3 Audience
      p = current_course_data.audience
  div class="row"
    div class="small-12 columns"
      h3 Format
      p
        'C'est une formation en groupe de 2 jours, articulée autour de modules. Chaque module comporte un cours théorique, des exemples de cas pratique et une mise en pratique si nécessaire.
      p
        'Les cas pratiques porteront sur des cas concrets et personnalisés. Ils s'appuieront sur les projets et les problématiques rencontrées au sein de l'équipe de développement.
  div class="row"
    div class="large-6 small-12 columns"
      h3 Pré-requis
      ul
        li Bonnes connaissances d'au moins un outil de versioning (svn, git, ...)
        li Connaissance d'un système de ticketing (redmine, jira, ...)
        li Notions d'organisation de projet
        li Notions de méthodes agiles
    div class="large-6 small-12 columns"
      h3 Objectifs
      ul
        li Avoir une connaissance approfondie de git
        li Adopter les bonnes pratiques du métier
        li Travailler en collaboration sur un projet
        li Avoir une bonne communication de l'information au sein de l'équipe
        li Connaître les outils, services et méthodologies couramment utilisés dans la profession

section class="schedule"
  div class="row"
    div class="small-12 columns"
      h2 Programme

  div class="row course--day1"
    div class="small-2 columns"
      h3 Jour 1
    div class="small-10 columns"
      h4 Introduction
      p Présentation du planning de formation, des outils et de la méthodologie qui seront employés.
      h4 Communication
      p Revue des bases pour une bonne communication au sein d'une équipe de développement.
      ul
        li De l'importance d'un bon onboarding
        li Utilisation de Slack
        li Présentations techniques & show off
      h4 Suivi de projet
      p Présentation des différentes méthodes et outils permettant de gérer au mieux une équipe technique.
      ul
        li Méthodes agiles
        li Un aperçu du Kanban
        li Redmine : tickets, intégration et worflow
        li Interactions avec un prestataire technique
      h4 Partage d'information
      p Présentation d'outils permettant de stocker et partager tout document au sein d'une entreprise.
      h3 Configuration Machine
      p Tour d'horizon d'une bonne configuration machine.
      ul
        li Gestionnaire de packages
        li Prendre soin de son terminal
        li Versioning assisté
        li Editeur et IDE

  div class="row course--day2"
    div class="small-2 columns"
      h3 Jour 2
    div class="small-10 columns"
      h4 Bonnes pratiques
      p Présentation des outils et méthodologies permettant de travailler efficacement et en collaboration sur un projet.
      ul
        li Git - gestion des branches
        li Git - worflow
        li Git - commandes avancées
        li Conventions de code
        li Standards d'architecture
        li De l'importance de maintenir un guide des standards
  div class="row course--day2--next"
    div class="small-2 columns"
      / h3 Jour 2 - suite
    div class="small-10 columns"
      h4 Tests et recettage
      p Présentation de la palette de services proposés autour des tests et plans de recettage.
      ul
        li TDD (Test-Driven Development)
        li Point sur le recettage
        li Serveurs
        li CI (Continuous Integration)
      h4 Code existant et maintenance
      p Exploitation, maintenance et évolution d'un code existant. Découverte des points clefs d'une bonne reprise de projet.
      ul
        li Où commencer
        li Corriger l'existant
        li Retravailler l'existant
        li Ajouter de nouvelles fonctionnalités
      h4 Rétrospective
      p Echanges sur la formation réalisée.
      ul
        li Questions/Réponses sur ce qui a été vu
        li Références, ressources et supports disponibles en ligne
        li Pistes d'amélioration
