---
title:    Formation Ruby on Rails Avancé - Les Bases
layout:   presentation
noindex:  true
---

| # Construire un projet web

  ---

  [wip the slides are here](http://flexbox.github.io/formation/)

  ---

  ## Happy Hacking!
