---
title:    'Pray for bower'
layout:   presentation
noindex:  false
---

| # Pray for bower

  <span> #ChtiJS — February 2017 </span>

  ---

  ou

  ### État de l’art des gestionnaires de packets JavaScript en 2017

  --

  ## /whois

  <div class="presentation--avatar">
    ![Ruby designer David Leuliette](/assets/images/avatar.png)
  </div>

  David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  Consultant Front-end developer

  ---

  ## Prerequisites

  --

  ### package manager

  A package management system is a __collection of software tools that automates the process__ of installing, upgrading, and removing computer programs for a computer's operating system.

  ![](/assets/images/yarn/init-npm-install.gif)

  --

  ### Buzzworld

  - io.js Node.js Express.js Socket.IO
  - Backbone Ember Angular __React__ _redux_
  - TypeScrip __babel__ coffeescript
  - __Webpack__ grunt gulp Brunch
  - npm bower __yarn__
  - yeoman browserify electron
  - compile optimize minify __transpile__ _make a bundle_
  - _Typage statique_

  --

  ### Disclaimer

  ![](/assets/images/yarn/matrix-subway.gif)

  ---

  # A long time ago

  --

  ### 1995 — JavaScript

  Netscape Communications Corporation had a strong presence in the young web. Its browser, __Netscape Communicator__, was gaining traction as a competitor to NCSA Mosaic, the first popular web browser.

  ![](/assets/images/yarn/netscape.png)

  __Brendan Eich__, father of JavaScript, came into the picture. Eich was contracted by Netscape Communications to develop a “Scheme for the browser”

  --

  ### 1998 — [Advanced Packaging Tool](https://en.wikipedia.org/wiki/Advanced_Packaging_Tool)

  For Debian, Slackware and other Linux distributions

  `$ apt-get install <packageName>`

  --

  ### 2009 — Node.js

  - Google’s V8 JavaScript engine.

  - Ryan Dahl was inspired to create Node.js after seeing a __file upload progress bar on Flickr__

  ![](https://upload.wikimedia.org/wikipedia/commons/2/2d/Pbar.gif)

  ? %

  ---

  ## 2010 — npm

  ⭐ 11 000

  `$ apt-get install nodejs`

  `$ brew install nodejs`

  --

  ### about:npm

  A __programming library__ and __package manager__ for Node.js

  ![](/assets/images/yarn/npm.jpg)

  --

  ### [Getting started](https://docs.npmjs.com/)

  - `$ npm init`
  - works with `package.json`

  - builds flattened dependencies trees
  - Fetches the dependencies for each dependency
  - Back-end stuff

  --

  We use Package manager to __find existing code__ or __libraries__.

  Like we could install `jQuery`, `React`, `Redux`, `VueJS`, `Redux`… anything from the package manager and __it’s super easy__.

  `$ npm install <packageName> --save`

  --

  ### cli tool

  `$ npm install <packageName> --global`

  --

  `$ npm list --global --depth=0`

  --

  https://github.com/720kb/ndm

  ![](/assets/images/yarn/ndm.png)

  --

  ### Protip: know your version

  🚨

  https://github.com/creationix/nvm

  ---

  ## 2012 — bower

  ⭐ 15 000

  `$ npm install bower --global`

  --

  ### about:bower

  A package manager for the web developers

  ![](/assets/images/yarn/bower.jpg)

  --

  ![](/assets/images/yarn/bower-wikipedia.png)

  --

  ### [Getting started](https://bower.io/#getting-started)

  - `$ bower init`
  - works with `bower.json`

  - only be one version of a library at the same time in the browser.
  - builds flattened dependencies trees
  - manually include sub-dependencies
  - Front-end stuff

  --

  `$ bower install gulp --save`

  --

  ### 💀 bower ?

  [Is bower dead on reddit](https://www.reddit.com/r/javascript/comments/2rrr3l/is_bowerio_dead_i_keep_being_told_not_to_to_use/)

  [npm vs bower tree](https://symbiotics.co.za/is-bower-dead-what-is-jspm-npm-for-client-side/)

  ![](/assets/images/yarn/bower-unable-to-find-suitable1.png)

  --

  ### Move to npm only ?

  angular-bootstrap drama

  1. angular-bootstrap was on npm
  1. silently unpublished
  1. pushed to npm by a random developer at 0.11 and not 0.12

  [issue #3021](https://github.com/angular-ui/bootstrap/issues/3021)

  --

  ### protip:

  `$ npm search <packageName>`

  ---

  ![](/assets/images/yarn/new-challenger.gif)

  --

  ### 2013 — [jspm](http://jspm.io/)

  ⭐ 3 400

  `$ npm install -S jspm`

  --

  ### about:jspm

  Frictionless Browser Package Management

  ![](/assets/images/yarn/jspm.jpg)

  --

  - Works with SystemJs module loader
  - Allows multiple versions of the same package and it even supports circular dependencies.

  --

  `$ jspm install jquery`

  ---

  ## 23 mars 2016

  --

  --

  💥 left-pad

  --

  ##### 💥 React

  --

  ## 💥 Babel

  --

  ![](/assets/images/yarn/nuke.gif)

  --

  ## [Lawyer](http://www.theregister.co.uk/2016/03/23/npm_left_pad_chaos/) broke the web

  ![](/assets/images/yarn/lawyer.gif)

  > A patent lawyer sent me an e-mail asking me to unpublish “kik” module from NPM
  >
  > — Azer Koçulu

  --

  I have just [liberated my modules](https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c#.x9llyfhns)

  __Power To The People__

  --

  And that's how JavaScript app development works in 2016. ®

  ---

  ## 2016 — Yarn

  ⭐ 22 000

  `$ apt-get install yarn`

  `$ brew install yarn`

  --

  ### about:yarn

  __Fast__, __reliable__, and __secure dependency__ management

  ![](/assets/images/yarn/yarn.jpg)

  --

  ### [Getting started](https://yarnpkg.com/fr/docs/getting-started)

  - start with `package.json` & `yarn.lock`
  - `$ npm init === yarn init`
  - `$ npm publish === yarn publish`

  --

  `$ npm install react --save`

  `$ yarn add react`

  --

  > This is unstable software, but Facebook uses it in production. What are you waiting for?

  --

  ### So what's next?

  --

  ### 🌴🔆

  http://davidl.fr/blog/indonesia.html

  ---

  ## Conclusion

  https://npmcompare.com/compare/bower,npm,yarnpkg

  --

  > Good is the enemy of great, but great is the enemy of shipped
  >
  > — Jeffrey Feldman

  --

  ## Q&A

  <span>#ChtiJS</span>
