---
title:    'DEV'
layout:   presentation
noindex:  true
---

| # DEV

  ---

  __Lecture__

  git & GitHub 102

  --

  __Lecture__

  git & GitHub 103

  ---

  __Exercice__

  👭

  Choose your buddy

  --

  __Live Code__

  Let's build together our own HQ

  [https://github.com/flexbox/classroom](https://github.com/flexbox/classroom)

  ---

  🍽

  ---

  __Exercice__

  - [Fork the website checklist](https://github.com/flexbox/foundation-101/blob/master/checklist.md)
  - __Find issues__ on your lead machine website

  --

  __Exercice__

  ![](/assets/images/chatbot/star-a-repo.gif)

  [Add a star](https://github.com/flexbox/foundation-101)

  --

  __Live Code__

  📘

  [Introducing gitbook](https://www.gitbook.com/book/flexbox/foundation-101/details)

  --

  __Exercice__

  [Setup Node.js](https://github.com/flexbox/foundation-101/blob/master/dev.md)
