---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # DESIGN

  ---

  __Lecture__

  How to use Google Chrome DevTools

  ---

  __Exercice__

  [The mobile first approach](https://flexbox.gitbooks.io/foundation-101/content/design/mobile-first.html)

  --

  __Exercice__

  [Advanced responsive webdesign with `flexbox`](https://flexbox.gitbooks.io/foundation-101/content/design/flexbox-based-grid-system.html)

  ---

  🍽

  ---

  ## Cooking with Design Systems

  --

  __Food Truck El camión__

  🚚

  ![](/assets/images/chatbot/elcamion.jpg)

  --

  __Tacos & Burritos__

  ![](/assets/images/chatbot/bourito.jpg)

  --

  ### What are the commons points ?

  --

  - __Raw ingredients__
    - Lettuce
    - Tomatoes
    - Cilantro
    - …

  - __Dishes__
    - Tacos
      - Chicken
      - Beef
    - Burritos
      - Chicken
      - Beef
    - …

  --

  ![](/assets/images/chatbot/mise-en-place.png)

  --

  http://danmall.me/articles/cooking-with-design-systems/

  --

  __Live Code__

  CSS Architecture for Large-Scale UIs

  --

  __Exercice__

  http://cssgridgarden.com/

  --
