---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # DESIGN

  ---

  __Lecture__

  How to use Google Chrome DevTools

  ---

  __Exercice__

  [The mobile first approach](https://flexbox.gitbooks.io/foundation-101/content/design/mobile-first.html)

  --

  __Exercice__

  [Advanced responsive webdesign with `flexbox`](https://flexbox.gitbooks.io/foundation-101/content/design/flexbox-based-grid-system.html)

  ---

  🍽

  ---

  ## Cooking with Design Systems

  --

  __Food Truck El camión__

  🚚

  ![](/assets/images/chatbot/elcamion.jpg)

  --

  __Tacos & Burritos__

  ![](/assets/images/chatbot/bourito.jpg)

  --

  ### What are the commons points ?

  --

  - __Raw ingredients__
    - Lettuce
    - Tomatoes
    - Cilantro
    - …

  - __Dishes__
    - Tacos
      - Chicken
      - Beef
    - Burritos
      - Chicken
      - Beef
    - …

  --

  ![](/assets/images/chatbot/mise-en-place.png)

  --

  - __Raw ingredients__
    - Colors
    - Typograhy
    - Grid System
    - …

  - __Dishes__
    - Mains
      - Forms
      - Homepage
    - Sides
      - Headers
      - Footers
      - Navigations
    - …

  --

  ## Demo Time

  Lauch your `/styleguide.html` after a `foundation watch`

  ---

  ## Atomic Design

  --

  > We’re not designing pages, we’re designing systems of components.
  >
  > — Stephen Hay

  --

  Josh Duck’s [HTML Periodic Table](http://zqsmm.qiniucdn.com/data/20110511083224/index.html)

  ![](/assets/images/chatbot/html-periodic-table.png)

  --

  ### Atomic Design

  ⚡

  - Atoms
  - Molecules
  - Pages

  --

  #### Atoms

  ![](http://bradfrost.com/wp-content/uploads/2013/06/atoms.jpg)

  --

  #### Molecules

  ![](http://bradfrost.com/wp-content/uploads/2013/06/molecule.jpg)

  --

  #### Pages

  ![](http://bradfrost.com/wp-content/uploads/2013/06/page1.jpg)

  --

  __Live Code__

  CSS Architecture for Large-Scale UIs

  --

  __Exercice__

  [Mastering the NEW CSS GRID](http://cssgridgarden.com/)
