---
title:    'DESIGN'
layout:   presentation
noindex:  true
---

| # DESIGN

  ---

  __Lecture__

  How to use Google Chrome DevTools

  ---

  __Exercice__
  1. __Lecture__
  1.
  1. Advanced responsive webdesign with `flexbox`
  1. __Live Code__ CSS Architecture for Large-Scale UIs
  ---

  🍽

  ---
