---
title:    'CHATBOT'
layout:   presentation
noindex:  true
---

| # CHATBOT

  ---

  __Prerequiries__

  API in 10 seconds

  https://github.com/toddmotto/public-apis

  https://anapioficeandfire.com/

  --

  # Chatbot 101

  ---

  ## Why chatbots ?

  --

  Conversational Interface

  ![](/assets/images/chatbot/introduction.png)

  --

  ![](/assets/images/chatbot/1m-messenger.png)

  --

  ### Pokebot

  [Your personal pokédex](https://www.messenger.com/t/pokemonbot/)

  <small>https://github.com/Naramsim/PokeBot</small>

  --

  ### Audience

  ![](/assets/images/chatbot/location.png)

  --

  ### Ecosystem

  ![](/assets/images/chatbot/ecosystem.png)

  --

  ### Money

  ![](/assets/images/chatbot/money.png)

  ---

  ## New Paradigm

  --

  __Facebook Messenger UI__

  - Onboarding
  - Messaging
  - Navigation
  - Templates
  - Buttons

  --

  ![](/assets/images/chatbot/messenger-cheat-sheet-ui.png)

  --

  ### User Interface

  ![](/assets/images/chatbot/wich-ui.png)

  --

  ### Content

  ![](/assets/images/chatbot/content.png)

  ---

  ## Natural Language Processing

  --

  [Recast.ai](https://www.dropbox.com/s/5edf1pdt2ovslkg/recast%20chatbot%20101.pdf?dl=0)

  --

  __Live code__

  Build your first chatbot with [chatfuel.com](https://chatfuel.com/)

  --

  __Exercice__

  - Open an account on [chatfuel.com](https://chatfuel.com/)
  - Create a facebook page
  - Connect boths

  ---

  🍽

  ---

  __Live code__

  - Update your lead page
  - Add a facebook button like https://m.me/backpacklist
  - Add a facebook QR code

