---
title:    'CHATBOT'
layout:   presentation
noindex:  true
---

| # CHATBOT

  ---

  __Lecture__

  Chatbot 101


  ---

  __Exercice__

  ---

  🍽

  ---

  __Live code__ Build your first messenger bot with chatfuel
