---
title:    'CHATBOT'
layout:   presentation
noindex:  true
---

| # CHATBOT

  ---

  __Prerequiries__

  🤓

  API in 10 seconds

  [Game of Thrones API](https://anapioficeandfire.com/)


  <small>[The list of public API](https://github.com/toddmotto/public-apis)</small>

  --

  # Chatbot 101

  Or

  ### Conversational Applications

  ---

  ## Why chatbots ?

  --

  Content evolution

  ![](/assets/images/chatbot/introduction.png)

  --

  [New platforms](http://www.businessinsider.com/the-messaging-app-report-2015-11?IR=T)

  ![](/assets/images/chatbot/mavssn.png)


  --

  There is a LOT of people there

  😱

  ![](/assets/images/chatbot/1m-messenger.png)

  --

  ![](/assets/images/chatbot/location.png)

  --

  ### Money

  ![](/assets/images/chatbot/money.png)

  --

  ### Business

  ![](/assets/images/chatbot/ecosystem.png)

  --

  # DEMO TIME

  Pokebot — [Your personal pokédex](https://pokebot.recast.ai/)

  --

  # DEMO TIME

  statsbot — [Google Analytics, Mixpanel, Salesforce Bot for Slack](https://statsbot.co/)

  --

  ### Uses cases

  - [Meetic](http://globaldatinginsights.com/2016/07/04/meetic-chat-bot-lets-singles-ask-how-to-create-the-best-online-dating-profile/) has built a dating bot that __conversion rates are a 30% higher__ than all of the other channels.
  - [Rogers](http://business.financialpost.com/fp-tech-desk/rogers-communications-inc-among-companies-offering-customer-service-through-facebook-messenger-and-customers-love-it), the largest mobile operator in Canada, has seen a __customer satisfaction lift of over 60%__ by providing service on Messenger.
  - [Globe](https://www.facebook.com/business/success/globe-telecom) in the Philippines has __increased employee productivity by 3.5 times__ by adding automation via Messenger.

  ---

  ## New Paradigm

  --

  __Facebook Messenger UI__

  - Onboarding
  - Messaging
  - Navigation
  - Templates
  - Buttons

  --

  ![](/assets/images/chatbot/messenger-cheat-sheet-ui.png)

  --

  Bots UI kit for Messenger Platform

  [https://bots.mockuuups.com/](https://bots.mockuuups.com/)

  --

  ### User Interface

  ![](/assets/images/chatbot/wich-ui.png)

  --

  ### Content

  ![](/assets/images/chatbot/content.png)

  ---

  ## Framework

  --

  ## KEEP IT SIMPLE!

  ⏰

  Average of [85 times a day](http://www.huffingtonpost.com/entry/smartphone-usage-estimates_us_5637687de4b063179912dc96) — less than 30 seconds

  --

  ## Do One thing

  Do it right

  --

  ### 1. The Bot Scope

  Make clear what people can expect from our chatbot

  ![](/assets/images/chatbot/mica-bot.png)

  --

  ### 2. The Chatbot Personality

  Find a personality that fits with the user and with the specific situation

  [![](/assets/images/leadmachine-demo.png)](http://weblille.rocks)

  --

  ### 3. A Prioritized List of Must-Have Features

  What information any user __would need__<br> from our chatbot to __find it useful__?

  --

  ### 4. The Chatbot Flow

  Use [mindmapping](http://www.xmind.net/) for designing flows from scratch

  ![](/assets/images/chatbot/chatflow.png)

  --

  ### 4. The Chatbot Flow

  Set the scope with a clear welcome message

  ![](/assets/images/chatbot/welcome-bot.png)

  --

  ### 4. The Chatbot Flow

  😞

  ![](/assets/images/chatbot/chatbot-unknow.png)

  --

  ### 4. The Chatbot Flow

  😌

  ![](/assets/images/chatbot/chatbot-brand.png)

  --

  ### 4. The Chatbot Flow

  😃

  ![](/assets/images/chatbot/chatbot-product.png)

  --

  ![](/assets/images/chatbot/chatbot-framework.png)

  --

  > People love to play with chatbots and small conversations are great to hide some Easter eggs.
  >
  > — Jesús Martín

  --

  ## Chatbot Design Canvas

  --

  https://chatbotslife.com/chatbot-design-canvas-c3940685ca2c

  ---

  ## [Natural Language Processing](https://github.com/keon/awesome-nlp)

  --

  ### A conversational bot

  1. Understands user’s `input`
  2. Manages a conversation
  3. Answers
  4. Learns overtime

  --

  ### What do I need?

  ![](/assets/images/chatbot/chatbot-whatis.png)

  --

  ### Intent

  ![](/assets/images/chatbot/chatbot-intent.png)

  --

  ![](/assets/images/chatbot/chatbot-json.png)

  --

  ### Introducing the Collaborative Bot Platform

  [Recast.ai](https://recast.ai/)

  ---

  __Live code__

  Build your first chatbot with [chatfuel.com](https://chatfuel.com/)

  --

  __Exercice__

  - Open an account on [chatfuel.com](https://chatfuel.com/)
  - Create a facebook page
  - Connect boths

  ---

  🍽

  ---

  __Live code__

  - Update your lead page
  - Add a facebook button like https://m.me/backpacklist
  - Add a [facebook QR code](https://developers.facebook.com/docs/messenger-platform/messenger-code)

