---
title:    'AGILE'
layout:   presentation
noindex:  true
---

| # AGILE

  ---

  __Lecture__

  [Agile project management 101](http://courses.davidl.fr/presentations/prototype/01-organisation.html#/)

  ---

  __Exercice__

  👉 [Open a Trello account NOW!](https://trello.com/invite/weblille/f347656b5c5969d7496a750587978991)

  https://medium.com/@flexbox/project-management-for-hackers-3bdcaf03dece

  ---

  ## inbound marketing 101

  --

  DeadToBullsh$t

  ![](https://universalscribbler.files.wordpress.com/2012/07/spam_19825.jpg)

  --

  ### Conquest traffic

  - blogpost on medium.com
  - Quality Natural SEO
  - Facebook, LinkedIn, Twitter, Pinterest, YouTube, Dailymotion, SlideShare, etc.

  --

  ### Lead machine

  - call-to-actions on EVERY blog post or website pages.
  - specific landing pages, and custom UX for context
  - Gift === email (eBook, infography…)

  --

  ### Lead to client

  - nurturing
  - marketing automation
  - scoring at the right time

  --

  ### Fidelity

  - Brand ambassadors
  - Add ons
  - Custom landing pages or private sales

  --

  ### Get Certified!

  [hubspot.com](http://academy.hubspot.com/certification)

  ---

  🍽

  ---

  __Live Code__

  Evernote hacks for power users

  👉 [Create your evernote account NOW!](https://www.evernote.com/referral/Registration.action?sig=3258311152e8cedf974c65f4c6b60bb17474335313afcebb6f914444f22b4995&uid=22499360)

  --



