---
title:    'BUILD'
layout:   presentation
noindex:  true
---

| # BUILD

  ---

  ## Explore awesome lists

  https://github.com/terkelg/awesome-creative-coding

  --

  ## Never Stop Learning

  - [Newsletter](http://davidl.fr/newsletter.html)
  - Product hunt
  - Meetup

  ---

  ## It’s time to build your LANDING PAGE with a CHATBOT

  https://yourlandingpagesucks.com/startup-landing-page-teardown-yc/

  ---

  ## DEMO
