---
title:    'BUILD'
layout:   presentation
noindex:  true
---

| # BUILD

  ---

  ## Explore awesome lists

  https://github.com/terkelg/awesome-creative-coding

  --

  ## Never Stop Learning

  - [Newsletter](http://davidl.fr/newsletter.html)
  - Product hunt
  - Meetup

  ---

  ## It’s time to build your <br>LANDING PAGE with a CHATBOT

  ---

  🍽

  ---

  ## Before the demo

  🙏

  https://flexbox.typeform.com/to/mLgwS3

  --

  ### Mirroring your phone

  1. Connect your iPhone to Mac using Lightning to USB cable.

  1. Open QuickTime and click "File", then "New Movie Recording".

  1. Choose iPhone as the camera by clicking the down arrow to the right of the record button.

  Now your iPhone should be mirrored onto your Mac successfully.

  --

  ### Hack your landing page

  https://yourlandingpagesucks.com/startup-landing-page-teardown-yc/

  --



  ---


  ## DEMO
