---
title:    'Git & GitHub 101 - Les Bases'
layout:   presentation
noindex:  true
---

| # git 101

  ---

  ## Topics

  - Setup
  - Git basic commands
  - Branching
  - Remote
  - Desktop application
  - GitHub 101

  ---

  ## Workshop lewagon

  [Git & GitHub](http://workshops.lewagon.org/workshops/git-github/index.html#/)

  ---

  ## Happy Hacking!
