---
title:    'Git & GitHub 101 - Les Bases'
layout:   presentation
noindex:  true
---

| # Les Bases

  ---

  ## Topics

  * Installation
  * Commandes
  * Branches
  * Le cloud
  * Le logiciel pour les enfants
  * GitHub

  ---

  ## Workshop lewagon

  [Git & GitHub](http://workshops.lewagon.org/workshops/git-github/index.html#/)

  ---

  ## Happy Hacking!
