---
title:    'Git & GitHub 101 - Essayer GitHub'
layout:   presentation
noindex:  true
---

| # Essayer GitHub

  ---

  ## Topics

  - git intit
  - git commit
  - git branch
  - git remote
  - git merge

  ---

  ## commit

  Les [règles d’un message de commit](http://davidl.fr/gitclub.html) ?

  ---

  ## Introduction aux commandes

  [try.github.io](https://try.github.io/)

  ---

  ## Happy Hacking!
