---
title:    'Git & GitHub 101 - Explore GitHub'
layout:   presentation
noindex:  true
---

| # Explore GitHub

  ---

  ## Topics

  - `$ git init`
  - `$ git commit`
  - `$ git branch`
  - `$ git remote`
  - `$ git merge`

  ---

  ## Commit

  The rules of _[a commit message](http://davidl.fr/gitclub.html)_ ?

  ---

  ## Your turn!

  [try.github.io](https://try.github.io/)

  ---

  ## Start with a README.md

  --

  ### [Mastering the GitHub Markdown](https://guides.github.com/features/mastering-markdown/)

  --

  _When a new coworker wonder<br>if there is a doc for the project_

  ![Documentation](/assets/images/middleman/documentation.gif)

  --

  ### How to fix the onboarding issue ?

  Write an [awesome Readme](https://github.com/flexbox/codeless/blob/master/README.md) for EVERY PROJECTS

  ---

  ## Git FAQ

  [firstaidgit.io](http://firstaidgit.io/#/)

  ---

  ## Happy Hacking!
