---
title:    'Git & GitHub 101 - Essayer GitHub'
layout:   presentation
noindex:  true
---

| # Essayer GitHub

  ---

  ## Topics

  - initaliser un projet
  - commit des changement
  - Créer des branches


  ---

  [try.github.io](https://try.github.io/)

  ---

  ## Happy Hacking!
