---
title:    'Git & GitHub 101'
layout:   presentation
noindex:  true
---

h1 Git & GitHub 101

ul
  - data.courses.git_github.presentations.each do |link, name|
    li = link_to name, "#{link}.html"
