---
title:    'Git & GitHub 101 - Programme'
layout:   presentation
noindex:  true
---

| # Git & GitHub 101
  --

h2 Programme
ul
  - data.courses.git_github.presentations.each do |link, name|
    li = link_to name, "#{link}.html"
