---
title:    'Modern workflow'
layout:   presentation
noindex:  true
---

| # Modern wokflow <small>— for productive people</small>

  ---

  ## Today we will be covering

  - Multiplayer Working
  - Project Management

  ---

  ## Why ?

  --

  ### More collaboration

  --

  ### <strike>More collaboration</strike>

  --

  ### Fast collaboration

  --

  ### Fast collaboration<br> & automation

  ---

  ## Multiplayer Working

  --

  ### There is A RADICAL CHANGE
  ### in internet CONSUPTION

  --

  ### Messaging applications

  - Share informations (`code`, files…)
  - Solve problems
  - Remote workers

  ![messaging](/assets/images/workflow/messaging-app.png)

  --

  ### Problem with emails

  - __Information fridge__
  - No action
  - No responsabilities
  - It’s __not for sharing files__

  <br>
  😕

  We loose money & time

  --

  ### What if we could have one tool to solve this problem ?

  Searchable Log of All Conversation and Knowledge

  --

  ### [Slack](https://slack.com/)

  A __messaging app for teams__ who put robots on Mars

  🚀

  ![nasa](/assets/images/workflow/nasa-header-image.jpg)

  --

  ## Why ?

  France is on the top 5 of early adopters ([journaldunet](http://www.journaldunet.com/solutions/saas-logiciel/tutoriel-slack/))

  ![France use slack](/assets/images/workflow/early-adopters.jpg)

  More companies are using slack : Airbnb, Vox Media, Slate, LinkedIn…

  --

  ## Fast collaboration

  Reduce emails & meetings

  ![slack equals fast collaboration](/assets/images/workflow/slack-numbers.png)

  --

  ## [IRC 1988](https://en.wikipedia.org/wiki/Internet_Relay_Chat)

  💻

  ![IRC](/assets/images/workflow/irc-1988.png)

  --

  ### Use tools of the XXI century

  - API (Re-usable, secure, and more manageable)
  - Bots (Automation)

  --

  https://slack.com/is

  ![](/assets/images/workflow/slack-howto.jpg)

  --

  ### channels

  ![](/assets/images/workflow/slack-channels.png)

  --

  ### 1 to 1

  ![](/assets/images/workflow/slack-fast-collaboration-1-1.png)

  --

  # DEMO TIME

  --

  ### Use case

  ☔☀⛅🌞☁❄🌤⚡😍🙌

  The weather bot

  https://my.slack.com/apps/A332G3D2S-forecast

  https://my.slack.com/apps/A0CEBUV6F-poncho-the-weathercat

  --

  # Your turn

  --

  ### Create a team on [Slack](https://slack.com/)

  --

  ### Automation

  🤖

  Add some bots<br>
  [https://my.slack.com/apps/manage](https://my.slack.com/apps/manage)

  --

  ### Next mission

  ![hack slack](/assets/images/workflow/how-to-hack-slack.jpg)

  --

  ### 1. Automate invitations sending

  [http://welcome-ineat.herokuapp.com/](http://welcome-ineat.herokuapp.com/)

  --

  ### 2. Give a mission to newcommers

  <br><br>
  > You need to invite someone

  --

  ### 3. Find co-worker to hack your company email list

  --

  ## Your homework

  ### Pre-requiries

  - A team on [slack](https://slack.com/)
  - [GitHub](https://github.com) account
  - [Heroku](https://www.heroku.com/) account

  ### Publish a website for invitation

  - [https://github.com/rauchg/slackin](https://github.com/rauchg/slackin)

  ### Give a mission to newcommers

  invite new commers !

  --

  ### Problem solved

  <div class="text-left">
    ✅ Fast communication Tool<br>

    ✅ Share informations & files <br>

    ✅ Remote meetings
  </div>

  --

  ### One more thing

  --

  ### It works everywhere

  📱 💻 🖥️

  ---

  ## Project Management <br> — _the startup way_

  --

  ### How can we build __scalable__ <br> & __quality__ projects ?

  --

  ### How can we build __scalable__ <br> <strike>& __quality__ projects ?</strike>

  --

  ### How can we build __scalable__ <br> & __quality__ products ?

  --

  ### about:specifications <br>— aka “Cahier des charges”

  🌻<br>

  2 teams : __Grassland Drawing__

  --

  > Dessinez une belle prairie d’été<br> avec des fleurs bleues et rouges,<br> de l’herbe verte, des vaches et des oiseaux<br> sous un soleil brillant.

  --

  > Dessinez une belle prairie d’été avec :

  - 10 fleurs bleues avec 5 pétales chacune
  - 5 fleurs bleues avec 6 pétales chacune
  - 13 fleurs rouges avec 6 pétales chacune
  - 2 vaches avec 3 taches noires

  - 1 vache avec 5 points noirs
  - 2 vaches avec 4 taches noires
  - 2 oiseaux volant dans le coin supérieur gauche
  - 3 oiseaux dans le milieu
  - 1 soleil vers la droite avec 5 rayons de soleil

  --

  Quelle est la meilleure prairie ?

  ![Dessin prairie cahier des charges](/assets/images/workflow/cows.jpg)

  --

  ### Principaux problèmes

  - Évalutation quantité de travail
  - Basé sur jugement et expérience
  - Trop optimiste
  - Vision incomplète

  --

  ### Avantages des projets AGILES

  - Livraison à l’heure
  - Maîtrise du buget et meilleur ROI
  - Applications fonctionnelles
  - Projets de qualité

  --

  ### Agile manifesto

  __2001__

  17 experts (_dont Ward Cunningham – inventeur du wiki_) en développement d’applications informatiques rédigent l'[agile manifesto](http://www.agilemanifesto.org/)

  4 Valeurs

  12 principes

  --

  ### Do I need a product backlog process?

  --

  # Yes.

  --

  ### Why?

  Without product backlog

  - inactionable feedback
  - Double-work is created,
  - visibility goes down,
  - and focus is eventually lost;
  <br><br>

  it all adds up to a demoralizing experience.

  --

  ### Don’t worry
  ### Building a process is really easy

  --

  ### Maybe we can hack other industries ?

  🚗

  The [Toyota](https://fr.wikipedia.org/wiki/Toyota) Kanban method

  --

  ![backlog](/assets/images/workflow/backlog.png)

  --

  ### [Trello](https://trello.com/)

  --

  # DEMO TIME

  --

  # Your turn
  ### Create a team on [Trello](https://trello.com/)

  --

  ### Automation

  🤖

  Automate the use of web applications together<br>
  - [Zapier](https://zapier.com/)

  --

  > The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency. The second is that automation applied to an inefficient operation will magnify the inefficiency.
  >
  > — Bill Gates

  --

  #### Deep sh$t

  💩

  ![backlog](/assets/images/workflow/deep-shit.png)

  --

  #### God mode

  👼

  ![backlog](/assets/images/workflow/god-mode.png)

  --

  ### [Project management for hackers](https://medium.com/@flexbox/project-management-for-hackers-3bdcaf03dece#.jd4hbnyu3)

  Typeform + Zapier = Trello

  --

  ### Problem solved

  <div class="text-left">
    ✅ 1 project management tool<br>
    ✅ Shared visibility in real time<br>
    ✅ Identification of actors & actions<br>
    ✅ Notifications for alerts<br>
  </div>

  --

  ### One more thing

  --

  ### It works everywhere

  📱 💻 🖥️

  ---

  ## Retrospective

  --

  --

  --

  ## #NeverStopLearning

  --

  > As developers / managers it’s our job to learn
  >
  > — Damien Cavaillès

  <br><br><br>

  [A quoi ressemble un développeur productif ?](https://medium.jechercheundev.fr/d%C3%A9veloppeurs-apprendre-est-notre-m%C3%A9tier-42b32a52807e#.7cc8s3ian)

  --

  ### Pull-request

  --

  ### Mobprogramming

  --

  #### Woody  Zuill — agile coach

  - All the brilliant minds __working together__
  - on the _same thing_,
  - at the _same time_,
  - in the _same space_,
  - & at the _same computer_

  [Agile Tour - Nicolas Umiastowski](http://www.slideshare.net/numiastowski/mob-programming-et-noestimates-contreintuitif-et-efficace)
