---
title:    'Modern workflow'
layout:   presentation
noindex:  true
---

| # Modern wokflow <small>— for productive people</small>

  ---

  ## Topics

  - Multiplayer Working
  - Project Management
  - NeverStopLearning

  ---

  ## Why ?

  --

  ### There is A RADICAL CHANGE in internet CONSUPTION

  --

  ### Fast collaboration

  --

  ### Fast collaboration & automation

  --

  - Share informations (code, files…)
  - Solve problems

  --

  # API

  --

  # Bots


  ---

  ## Multiplayer Working

  --

  Messaging

  --

  https://ineat-conseil.slack.com/apps/manage

  --

  # DEMO TIME

  ---

  ## Project Management — with git & GitHub

  --

  ## #NeverStopLearning

  --

  > As developers it’s our  job to learn
  >
  > — Damien Cavaillès

  <br><br><br>

  [A quoi ressemble un développeur productif ?](https://medium.jechercheundev.fr/d%C3%A9veloppeurs-apprendre-est-notre-m%C3%A9tier-42b32a52807e#.7cc8s3ian)

  --

  ### Pull-request

  --

  ### Mobprogramming

  --

  #### Woody  Zuill — agile coach

  - All the brilliant minds __working together__
  - on the _same thing_,
  - at the _same time_,
  - in the _same space_,
  - & at the _same computer_

  [Agile Tour - Nicolas Umiastowski](http://www.slideshare.net/numiastowski/mob-programming-et-noestimates-contreintuitif-et-efficace)


