---
title:    'Modern workflow'
layout:   presentation
noindex:  true
---

| # Modern wokflow <small>— for productive people</small>

  ---

  ## Topics

  - Multiplayer Working
  - Project Management

  ---

  ## Why ?

  --

  ### More collaboration

  --

  ### <strike>More collaboration</strike>

  --

  ### Fast collaboration

  --

  ### Fast collaboration<br> & automation

  ---

  ## Multiplayer Working

  --

  ### Problem with emails

  - __Information fridge__
  - No action
  - No responsabilities
  - It’s __not for sharing files__

  <br>
  😕

  We loose money & time

  --

  ### There is A RADICAL CHANGE
  ### in internet CONSUPTION


  --

  ### Messaging applications

  - Share informations (`code`, files…)
  - Solve problems
  - Remote workers

  ![messaging](/assets/images/workflow/messaging-app.png)

  --

  ### We have tools for that

  - API
  - Bots

  --

  ### What if we could have one tool for that ?

  Searchable Log of All Conversation and Knowledge

  --

  ### [Slack](https://slack.com/)

  A __messaging app for teams__ who put robots on Mars

  🚀

  ![nasa](/assets/images/workflow/nasa-header-image.jpg)

  --

  ## Why ?

  France is on the top 5 of early adopters ([journaldunet](http://www.journaldunet.com/solutions/saas-logiciel/tutoriel-slack/))

  More companies are using slack : Airbnb, Vox Media, Slate, LinkedIn…

  --

  # DEMO TIME

  --

  # Your turn

  --

  ### Create a team on [Slack](https://slack.com/)

  --

  ### Automation

  🤖

  Add some bots<br>
  [https://ineat-conseil.slack.com/apps/manage](https://ineat-conseil.slack.com/apps/manage)

  --

  ### Next mission

  ![hack slack](/assets/images/workflow/how-to-hack-slack.jpg)

  --

  ### 1. Automate invitations sending

  [http://welcome-ineat.herokuapp.com/](http://welcome-ineat.herokuapp.com/)

  --

  ### 2. Give a mission to newcommers

  <br><br>
  > You need to invite someone

  --

  ### 3. Find co-worker to hack your company email list

  --

  ## Your homework

  ### Prerequiries

  - A team on [slack](https://slack.com/)
  - [GitHub](https://github.com) account
  - [Heroku](https://www.heroku.com/) account

  ### Publish a website for invitation

  - [https://github.com/rauchg/slackin](https://github.com/rauchg/slackin)

  ### Give a mission to newcommers

  invite new commers !

  --

  ### Problem solved

  <div class="text-left">
    ✅ Fast communication solve more problems <br>

    ✅ Share informations & files <br>

    ✅ Remote meetings
  </div>

  --

  ### One more thing

  --

  ### It works everywhere

  📱💻🖥️

  ---

  ## Project Management <br> — _the startup way_

  --

  ### How can we build __scalable__ & __quality__ projects ?

  --

  ### about:specifications <br>— aka “Cahier des charges”

  🌻<br>

  2 teams : __Grassland Drawing__

  --

  > Dessinez une belle prairie d’été<br> avec des fleurs bleues et rouges,<br> de l’herbe verte, des vaches et des oiseaux<br> sous un soleil brillant.

  --

  > Dessinez une belle prairie d’été avec :

  - 10 fleurs bleues avec 5 pétales chacune
  - 5 fleurs bleues avec 6 pétales chacune
  - 13 fleurs rouges avec 6 pétales chacune
  - 2 vaches avec 3 taches noires

  - 1 vache avec 5 points noirs
  - 2 vaches avec 4 taches noires
  - 2 oiseaux volant dans le coin supérieur gauche
  - 3 oiseaux dans le milieu
  - 1 soleil vers la droite avec 5 rayons de soleil

  --

  Quelle est la meilleure prairie ?

  ![Dessin prairie cahier des charges](https://lh3.googleusercontent.com/3ElAkUVWZLcB8t5QhXQj_wdH22BiVdDNiFWbMlSsedBRGAMEkI87or1-dZyiwvJuND1xAKUum6_4KBX1LbpLlKe6tq2XRCYcG4nLFbKVApMIXoAsJ8oISRqMMGy8XLoVQnjRiVkCUmPgujeA4LzyrletWvQx9W7XIdIByeY1Z1Itq8QTyxWKEZ7EkoIamqwcLJcWt1qy_GRrt03Myoc40v5GuyJlqowRQIa1hrysS7tcqKevfXyOGg2l5YrmT253O9B2i9yoVYUvULr5kKUJ8hWJLuBpdh2avLTPRKyyvnBujH_cUjvI52LSoaOMl1q_21I7FjRrx8Qia7XnZzRGNwxagYVN_7riSu-D3RqRg_E9WYs6a7d9NV3VqJ-MLCpSJmhuuQxfA2ckh33lM0O-d1gkkFO3nHDJn2KbEGPXI5Y1wPy-KSj6bD099fCGLu_RXa89OOTF_Xq13W-Tu220qQpKlasESd7l-HcKnSvc6gwWebenEZbYCy7bB9kKywyOn0McRFfNPFLzCIpaSpB1PXmv757Q1Xv6xK-rdeCEpTk=w2558-h1910-no)

  --

  ### Principaux problèmes

  - Évalutation quantité de travail
  - Basé sur jugement et expérience
  - Trop optimiste
  - Vision incomplète

  --

  ### Avantages des projets AGILES

  - Livraison à l’heure
  - Maîtrise du buget et meilleur ROI
  - Applications fonctionnelles
  - Projets de qualité

  --

  ### Manifeste agile

  __2001__

  17 experts (_dont Ward Cunningham – inventeur du wiki_) en développement d’applications informatiques rédigent l'[agile manifesto](http://www.agilemanifesto.org/)

  4 Valeurs

  12 principes

  --

  ### Do I need a product backlog process?

  --

  # Yes.

  --

  ### Why ?

  Without product backlog

  - inactionable feedback
  - Double-work is created,
  - visibility goes down,
  - and focus is eventually lost;
  <br><br>

  it all adds up to a demoralizing experience.

  --

  ### Don’t worry
  ### Building a process is really easy

  --

  ### Maybe we can hack other industries ?

  🚗

  The [Toyota](https://fr.wikipedia.org/wiki/Toyota) Kanban method

  --

  ![backlog](/assets/images/workflow/backlog.png)

  --

  ### [Trello](https://trello.com/)

  --

  # DEMO TIME

  --

  # Your turn
  ### Create a team on [Trello](https://trello.com/)

  --

  ### Automation

  🤖

  Automate the use of web applications together<br>
  - [Zapier](https://zapier.com/)

  --

  ### Problem solved

  <div class="text-left">
    ✅ …
  </div>

  --

  ### One more thing

  --

  ### It works everywhere

  📱💻🖥️

  ---

  ## Retrospective

  --

  --

  --

  ## #NeverStopLearning

  --

  > As developers / managers it’s our job to learn
  >
  > — Damien Cavaillès

  <br><br><br>

  [A quoi ressemble un développeur productif ?](https://medium.jechercheundev.fr/d%C3%A9veloppeurs-apprendre-est-notre-m%C3%A9tier-42b32a52807e#.7cc8s3ian)

  --

  ### Pull-request

  --

  ### Mobprogramming

  --

  #### Woody  Zuill — agile coach

  - All the brilliant minds __working together__
  - on the _same thing_,
  - at the _same time_,
  - in the _same space_,
  - & at the _same computer_

  [Agile Tour - Nicolas Umiastowski](http://www.slideshare.net/numiastowski/mob-programming-et-noestimates-contreintuitif-et-efficace)


