---
title:    'Productivity and automation for hackers'
layout:   presentation
noindex:  false
---

| # Productivity and automation for hackers

  <span>TakeOff Conf - June 2018</span>

  ---

  ## /whois

  #### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <small>Front-end Engineer</small>

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar-rinjani.jpg)
  </div>

  --

  ## Today we will be covering

  - The forgotten clipboard tool
  - Seach in the XXI century
  - Automate your digital life

  ---

  ## WHY

  --

  Eric Steven Raymond

  ![](/assets/images/automation/eric.jpg)

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  🤓

  - The world is full of fascinating problems waiting to be solved.
  - No problem should ever have to be solved twice.
  - Boredom and drudgery are evil.
  - Freedom is good.
  - Attitude is no substitute for competence.

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html)

  🤓

  - The world is full of fascinating problems waiting to be solved.
  - __No problem should ever have to be solved twice.__
  - Boredom and drudgery are evil.
  - Freedom is good.
  - Attitude is no substitute for competence.

  --

  > I have a script for that
  > <br>
  > – David @work

  --

  ### [Attention span](https://en.wikipedia.org/wiki/Attention_span)

  The amount of __concentrated time a person can spend on a task__ without becoming distracted.

  <br>

  👨👩

  _Adult 10 to 20 minutes_

  --

  ### Brain battery

  <br>

  🧠🔋

  - Creative brains are a valuable, __limited resource__
  - Focus on __time well spent__, automate boring stuff

  --

  ### Even Batman needs help

  ![](/assets/images/automation/alfred.jpg)

  --

  ### Alfred app

  ![](/assets/images/automation/aldredapp.png)

  --

  ###  only

  **Linux** - [albert](https://github.com/albertlauncher/albert)

  **Windows** - [wox.one](http://www.wox.one/)

  ---

  ## Clipboard

  --

  ### How many times`/day` are you using the clipboard?

  --

  __Real life example__

  <br>

  👨‍💻📓

  --

  ![](/assets/images/automation/interrupt.png)

  --

  _Problem_

  __Not smart__ & __one way `data-binding`__

  --

  ### Clipboard History

  `Option` + `Cmd` + `c`

  ![](/assets/images/automation/clipboard.png)

  --

  # DEMO TIME

  with JavaScript `ember-concurrency`

  --

  ### Clipboard Snippets

  `Option` + `Cmd` + `c`

  --

  # DEMO TIME

  Typing email somewhere

  https://autopilot.rocks/

  --

  > Context switching is ruining your productivity

  --

  ![](/assets/images/automation/context-switching.gif)

  --

  Create snippets with `keywords`

  --

  # DEMO TIME

  Sleep async function

  --

  Create snippets with variables `{time} {date}` and `{clipboard}`

  --

  ### snippet auto-expansion

  ![](/assets/images/automation/snippet-expand.png)

  --

  # DEMO TIME

  [Tinder Hack](https://tinder.com/app/matches)

  `tinchalet` exploit

  --

  ### Clipboard Merging

  Hold `Cmd` and double-tap `C` (`Cmd` + `C` + `C`)

  ![](/assets/images/automation/clipboard-merging.png)

  --

  ### Clipboard Merging

  ![](/assets/images/automation/copy-and-merge.gif)

  ---

  ## Search

  --

  ###  Millennial Vs. Librarian

  ![](/assets/images/automation/sister.jpg)

  --

  ![](/assets/images/automation/desktop-chaos.png)

  --

  ### 😱
  <br>

  > Why don’t you organise your files in folders!

  --

  ![](/assets/images/automation/folders.png)

  --

  ### 🔍

  > I am not losing my time on organising files
  > <br>
  > I have __a search bar__, old man

  --

  ![](/assets/images/automation/millennial.png)

  --

  What if we can have __Google search for the OS__?

  ![](/assets/images/automation/search-os.gif)

  --

  On macOS we have spotlight…

  `Cmd` + `Space`

  --

  …But it's bloody slow

  --

  ![](/assets/images/automation/keyboard-spotlight.gif)
  ![](/assets/images/automation/keyboard-alfred.gif)

  --

  We need __spotlight on steroïds__

  --

  ![](/assets/images/automation/alfred-spotlight.png)

  --

  ### ⚠️

  Keyboard Best Protip Ever

  --

  ![](/assets/images/automation/keyboard-slow.png)

  --

  ![](/assets/images/automation/keyboard-fast.png)

  --

  ![](/assets/images/automation/keyboard-slow.gif)
  ![](/assets/images/automation/keyboard-fast.gif)

  --

  ### Open alfred
  <br>

  🦄

  `Cmd` + `Space`

  --

  ### Search
  <br>

  🦄

  - youtube `{query}`
  - maps `{query}`
  - imdb `{query}`

  --

  ### Custom Search
  <br>

  🤯

  - m

  ---

  ## Workflow

  --

  Cats

  <iframe width="760" height="515" src="https://www.youtube.com/embed/QiXJtjNea1A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  --

  I prefer dogs

  Because they `fetch`

  --

  __Real life example__

  <br>

  ✍‍💻

  --

  ### Dog `{query}`

  --

  ## How to make a workflow

  -> video

  --

  ### package manager

  - npm `{query}`
  - gems `{query}`
  - docker `{query}`

  --

  ### GitHub Fast Jump

  - gh `{query}`
  - gh my…

  --

  ### Icons Search

  fa `{query}`

  mdi `{query}`

  --

  # DEMO TIME

  with `index.html`

  --

  Being a developer in the XXI century

  --

  ![](/assets/images/automation/copy-paste.jpg)

  --

  [developer.mozilla.org](https://developer.mozilla.org/en-US/)

  ![](/assets/images/automation/mdn.png)

  --

  ### Dash

  - 200+ __offline__ docsets
  - Instant, __fuzzy__ search (e.g. `bgcp` brings up `background-clip`)

  ![](/assets/images/automation/dashapp.png)

  --

  ### Alfred + Dash = ❤️

  dash `{query}`

  --

  ### Alfred + Dash = ⚡

  - bt `{query}`
  - _ `{query}`
  - rn `{query}`

  --

  __Real life example__

  <br>

  🤓📱

  [Pull request on gov.uk](https://github.com/alphagov/govuk_elements/blob/master/.github/PULL_REQUEST_TEMPLATE.md)

  --

  ### Screenshot #likeaboss

  - ss `{choice}`

  --

  ### Screenshot #likeaboss

  [PR example](https://github.com/alphagov/govuk_elements/pull/607)

  --

  ### Dealing with 2 browsers

  - mail _(work)_
  - inbox _(personal)_

  --

  __Real life example__

  <br>

  https://www.appcues.com/user-onboarding-academy

  --

  ### Guerrila mail

  TMP email

  --

  ### Sandbox

  --

  ### Pull request on heroku

  pr 2921

  --

  ### kill a process

  kill Google

  ---

  ## Automation

  --

  ### IFTTT

  --

  ![](/assets/images/automation/facebook-birthday.jpg)

  --

  ![](/assets/images/automation/linked-in-rss.jpg)

  --

  [Job hunt  on autopilot](https://my.mindnode.com/Ewz6tYJxbR5vJ6qw6Q9MUCqQLEx6cTizqHCyQSth)

  --

  ### Alfred + Zapier

  Pierre Urban: le workflow est super easy

  Pierre Urban: 1: Recup lien video
  Pierre Urban: 2: insert lien dans outil pour dl vid
  Pierre Urban: 3: mv vid dans dossier DropBox

  --

  Onboarding new employee

  https://www.linkedin.com/pulse/how-growth-hacking-mindset-automation-tools-can-your-david-leuliette/

  --


  --

  ### Growth Hacking + Cash on Autopilot

  --

  1. Amazon affiliate
  2. 12 books recommandation
  3. Follow the advices from autopilot.rocks
  4. Profit

  --

  ## Protips

  ### ✌

  --

  Automation is like a child,
  You need to take care because sometimes it breaks

  --

  Don't break the internet
  becarefull of infinite loops

  --

  Your time is a limited, valuable ressource

  ---

  ## Q&A [@_flexbox](https://twitter.com/_flexbox)

  Share the link

  [http://courses.davidl.fr/presentations/automation](http://courses.davidl.fr/presentations/automation)
