---
title:    'Productivity and automation for hackers'
layout:   presentation
noindex:  false
---

| # Productivity and automation for hackers

  <span>TakeOff Conf - June 2018</span>

  ---

  ## /whois

  #### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <small>Front-end Engineer</small>

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar-rinjani.jpg)
  </div>

  --

  ## Today we will be covering

  - Clipboard on steroïds
  - Seach in the XXI century
  - Workflow
  - Automation

  ---

  ## Starting with WHY

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html) by Eric Steven Raymond

  - The world is full of fascinating problems waiting to be solved.
  - No problem should ever have to be solved twice.
  - Boredom and drudgery are evil.
  - Freedom is good.
  - Attitude is no substitute for competence.

  --

  ### [Become a hacker](http://www.catb.org/~esr/faqs/hacker-howto.html) by Eric Steven Raymond

  - The world is full of fascinating problems waiting to be solved.
  - __No problem should ever have to be solved twice.__
  - Boredom and drudgery are evil.
  - Freedom is good.
  - Attitude is no substitute for competence.

  --

  > I have a script for that
  > <br>
  > – David @work

  --

  ### [Attention span](https://en.wikipedia.org/wiki/Attention_span)

  The amount of __concentrated time a person can spend on a task__ without becoming distracted.

  <br>

  👨👩

  _Adult 10 to 20 minutes_

  --

  ### Brain battery

  - Creative brains are a valuable, __limited resource__
  - Focus on __time well spent__, automate stuff

  ![](/assets/images/automation/brain-battery.png)

  --

  ### Even Batman needs help

  ![](/assets/images/automation/alfred.jpg)

  --

  ### Alfred app

  ![](/assets/images/automation/aldredapp.png)

  --

  ### Alfred app

  - Clipboard
  - Search
  - Workflow

  --

  ###  only

  **Linux** - [albert](https://github.com/albertlauncher/albert)

  **Windows** [wox.one](http://www.wox.one/)

  ---

  ## Clipboard

  --

  ### How many times`/day` are your using the clipboard?

  --

  _Problem_

  __Not smart__ & __one way `data-binding`__

  --

  ### Clipboard History

  `Option` + `Cmd` + `c`

  ![](/assets/images/automation/clipboard.png)

  --

  # DEMO TIME

  with JavaScript `ember-concurrency` task

  --

  ### Clipboard Snippets

  `Option` + `Cmd` + `c`

  --

  # DEMO TIME

  Typing email somewhere

  https://autopilot.rocks/

  --

  > Context switching is ruining your productivity

  --

  ![](/assets/images/automation/context-switching.gif)

  --

  Create snippets with `keywords`

  --

  # DEMO TIME

  Sleep async function

  --

  Create snippets with variables `{time} {date} {clipboard}`

  --

  ### snippet auto-expansion

  --

  ## DEMO TIME

  [Tinder Hack](https://tinder.com/app/matches)

  `tinchalet` exploit

  --

  ### Clipboard Merging

  Hold `Cmd` and double-tap `C` (`Cmd` + `C` + `C`)

  ![](/assets/images/automation/clipboard-merging.png)

  --

  ### Clipboard Merging

  ![](/assets/images/automation/copy-and-merge.gif)

  ---

  ## Search

  --

  ###  Millennial Vs. Librarian

  ![](/assets/images/automation/sister.jpg)

  --

  ![](/assets/images/automation/desktop-chaos.png)

  --

  ### 😱
  <br>

  > Why don’t you organise your files in folders!

  --

  ![](/assets/images/automation/folders.png)

  --

  ### 🔍
  <br>

  > I have a search bar, old man

  --

  ![](/assets/images/automation/millennial.png)

  --

  Google for the OS?

  ![](/assets/images/automation/search-os.gif)

  --

  On macOS we have spotlight…

  `Cmd` + `Space`

  --

  …But it's bloody slow

  --

  ![](/assets/images/automation/keyboard-spotlight.gif)
  ![](/assets/images/automation/keyboard-alfred.gif)

  --

  We need __spotlight on steroïds__

  --

  ![](/assets/images/automation/alfred-spotlight.png)

  --

  ### ⚠️

  Keyboard Best Protip Ever

  --

  ![](/assets/images/automation/keyboard-slow.png)

  --

  ![](/assets/images/automation/keyboard-fast.png)

  --

  ![](/assets/images/automation/keyboard-slow.gif)
  ![](/assets/images/automation/keyboard-fast.gif)

  --

  ### Keyboard Shortcut For The Win

  --

  🖱

  1. Take your right hand off the keyboard
  1. Place your right hand on the mouse
  1. Mouse over to the File menu
  1. Click File
  1. Click Save
  1. Place your right hand back on the keyboard
  1. Could be measurably faster than the keyboard method:

  --

  ⌨

  1. Use your left hand to press `Cmd` + `S`

  --

  The fastest web search ever ™️

  --

  ![](https://www.alfredapp.com/blog/tips-and-tricks/tutorial-fastest-hotkey-based-search/workflow-hotkey-based-search.png)

  ---

  ## Workflow

  --

  Cats

  <iframe width="560" height="315" src="https://www.youtube.com/embed/QiXJtjNea1A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  --

  I prefer dogs

  Because they `fetch`

  --

  ### Dog `{query}`

  --

  ### package manager

  - npm `{query}`
  - gems `{query}`
  - docker `{query}`

  --

  ### gh `{query}`
  ### gh my…

  --

  ### splash `{width} {height}`

  --

  ### Icons Search

  fa `{query}`
  mdi {query}

  --

  # DEMO TIME

  with index.html

  --

  # RTFM

  --

  https://developer.mozilla.org/en-US/

  --

  https://devdocs.io

  --

  ### Dash

  Offline
  Docsets

  --

  ### Alfred + Dash = ⚡

  --

  ### Alfred + Dash = ⚡

  `dash {query}`

  `ctrl` Google search
  `cmd` Open the offline website in a browser

  --

  ### Alfred + Dash = ⚡

  --

  ### Screenshot #likeaboss

  open pull request
  screenshot

  https://github.com/alphagov/govuk_elements/pull/607

  --

  ### mail
  ### inbox
  ### TMP email
  https://www.appcues.com/user-onboarding-academy


  --

  ### Sandbox

  --

  ### Pull request on heroku

  --

  ### kill a process

  --

  https://twitter.com/chriscrossthree/status/990112508546572289

  ---

  ## Automation

  --

  / Job hunt  on autopilot
  /
  / https://my.mindnode.com/Ewz6tYJxbR5vJ6qw6Q9MUCqQLEx6cTizqHCyQSth

  --

  ### Alfred + Zapier

  --

  ### IFTTT

  --

  ![](/assets/images/automation/facebook-birthday.jpeg)

  --

  ![](/assets/images/automation/linked-in-rss.jpeg)

  --

  ### Growth Hacking + Cash on Autopilot

  --

  1. Amazon affiliate
  2. 12 books recommandation
  3. Follow the advices from autopilot.rocks
  4. Profit

  --

  ## Protips

  ### ✌

  --

  Automation is like a child,
  You need to take care because sometimes it breaks

  --

  Don't break the intenet
  becarefull of infinite loops

  --

  > The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency.
  > <br>
  > The second is that automation applied to an inefficient operation will magnify the inefficiency.
  > <br>
  > - Bill Gates

  ---

  ## Q&A [@_flexbox](https://twitter.com/_flexbox)

  Share the link

  [http://courses.davidl.fr/presentations/automation](http://courses.davidl.fr/presentations/automation)
