---
title:    'Automation for H4CK3RS'
layout:   presentation
noindex:  false
---

| # Automation for H4CK3RS

  Freeformers - December 2018

  ---

  ## /whois

  #### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <small>Software Engineer</small>

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar-rinjani.jpg)
  </div>

  --

  ## Today we will be covering

  - Searching like Google
  - Automate tasks with Workflows

  ---

  ## Search

  --

  ###  Millennial Vs. Librarian

  ![](/assets/images/automation/sister.jpg)

  --

  ![](/assets/images/automation/desktop-chaos.png)

  --

  ### 😱
  <br>

  > Why don’t you organise your files in folders!

  --

  ![](/assets/images/automation/folders.png)

  --

  ### 🔍

  > I am not losing my time on organising files
  > <br>
  > I have __a search bar__, old man

  --

  ![](/assets/images/automation/millennial.png)

  --

  What if we can have __Google search for the OS__?

  ![](/assets/images/automation/search-os.gif)

  --

  On macOS we have spotlight…

  `Cmd` + `Space`

  --

  …But it's bloody slow

  --

  <small>Open the keyboard preferences takes ages</small>

  ![](/assets/images/automation/keyboard-spotlight.gif)
  ![](/assets/images/automation/keyboard-alfred.gif)

  --

  ### ⚠️

  Keyboard Best Protip Ever

  --

  ![](/assets/images/automation/keyboard-slow.png)

  --

  ![](/assets/images/automation/keyboard-fast.png)

  --

  ### Drop spotlight

  ![](/assets/images/automation/alfred-spotlight.png)

  --


  ### Open alfred
  <br>

  🦄

  `Cmd` + `Space`

  - `unicorn` on wikipedia
  - `unicorn` on amazon

  --

  ### Search
  <br>

  🦄

  - youtube `{query}`
  - maps `{query}`
  - imdb `{query}`

  --

  ### Custom Finder Search
  <br>

  🤯

  - `m {query}` for `.mindnode` files

  ---

  ## Workflow

  --

  ### 🐶

  Do you like dogs?

  --

  ### Me too!

  - Dog `{query}`

  --

  ## How to make a workflow

  <iframe width="760" height="515" src="https://www.youtube.com/embed/4_cPmdcquB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  --

  ### Dealing with 2 browsers

  - mail _(work)_
  - inbox _(personal)_

  --

  ### Guerrila mail

  TMP email

  https://www.blockdata.tech/

  --

  ### kill a process

  kill Google

  ---

  ## Q&A [@_flexbox](https://twitter.com/_flexbox)

  Share the link

  http://bit.ly/automation-2
