---
title:    'Automation for H4CK3RS'
layout:   presentation
noindex:  false
---

| # Automation for H4CK3RS

  Freeformers - December 2018

  ---

  ## /whois

  #### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <small>Front-end Engineer</small>

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar-rinjani.jpg)
  </div>

  --

  ## Today we will be covering

  - Clipboard on steroïds
  - Lightning speed text

  ---

  ## Q&A [@_flexbox](https://twitter.com/_flexbox)

  Share the link

  http://bit.ly/automation-part2
