---
layout:           program
meta_description: Développeur Ruby on Rails Freelance, je propose des formations Ruby, Ruby on Rails, Workflows de développement & Méthodes agiles.
title:            Formations Ruby on Rails
---

section
  div class="row"
    div class="small-12 columns"
      p
        'Plongez-vous dans le
        strong
          'développement web
        'avec Ruby on Rails.
      p
        'Que vous soyez développeur débutant ou expérimenté,
        strong
          'travaillons ensemble
        'sur
        strong
          'votre projet
        'le temps d'une demie-journée, d'une journée, d'une semaine ou plus.
      p
        'Je vous propose des formations dont les modules alternent
        strong
          'cours théoriques
        'et
        strong
          'mises en pratique.
      = link_to 'Découvrir les formations', 'programs/', class: 'button'

