---
layout:           program
meta_description: Développeur front-end Freelance, je propose des formations HTML, CSS, front-end avec Ruby on Rails, Méthodes agiles, et Workflows de développement.
title:            "Formations intégration web & développement front-end"
---

section
  div class="row"
    div class="small-12 columns"
      markdown:
        __Gagnez du temps__ pour l’intégration et le dévelopement web de votre site ou applications avec Ruby on Rails.

        Vous êtes développeur ou intégrateur ? Débutant ou expérimenté ?
        __Je peux vous aider__ en travaillant sur
        __votre projet__ le temps d’une demi-journée, d’une journée, d’une semaine ou plus.

        Je propose des formations avec des modules qui alternent
        __cours théoriques__, __partage d’expériences__ et __mises en pratique__.

      = link_to 'Découvrir les formations', '/programs/', class: 'button secondary'
