---
title:    'Chrome DevTools'
layout:   presentation
noindex:  false
---

| # Debug your design<br> #likeaboss

  <small> GoogleHQ - Brussels - March 2017 </small>

  <small> Smart Pension - London — December 2017 </small>

  ---

  ## /whois

  #### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <small>Front-end Engineer</small>

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar-rinjani.jpg)
  </div>

  --

  ## Today we will be covering

  - Debug your __Design__
  - Test your __Responsive Design__
  - __Webperf__ matters
  - DevTools __Enhanced Edition__
  - DevTools __add-ons__

  --

  ### Disclaimer

  ![David Leuliette DevTools talk](/assets/images/devtools/browser.jpg)

  --

  ### Why Chrome Canary / FirefoxDeveloper ?

  ![David Leuliette DevTools talk](/assets/images/devtools/performance-monitor.gif)

  ---

  ## INTRODUCTION

  --

  ### [Chrome DevTools](https://developers.google.com/web/tools/chrome-devtools/)

  `Cmd` + `Opt` + `I` 

  - Device Mode
  - Elements panel
  - Console panel
  - Network panel
  - Performance panel (previously Timeline panel)
  - Memory panel (previously Profiles panel)
  - Application panel (previously Resources panel)
  - Security panel

  ---

  ## DESIGN

  --

  Take your [descisions in the Browser](http://davidl.fr/blog/fin-psd.html)

  Use Browser Development / Debug Tools

  ![Photoshop is not efficient](http://farm8.staticflickr.com/7352/12809516183_ae080d369b_o.jpg)

  --

  __Idea__

  ![Example dropdown](/assets/images/devtools/design-in-browser.png)

  --

  __Real world__

  ![Example dropdown](/assets/images/devtools/dropdown-secondary.gif)

  --

  __Solution__

  ![Example dropdown](/assets/images/devtools/dropdown-gray.gif)

  --

  ### __tab:__ Elements

  #### HTML markup

  __💡 protip:__ Use the arrows keys

  --

  ### __tab:__ Elements

  #### Color

  __💡 protip:__ Hit `SHIFT`

  --

  ### __tab:__ Elements

  #### States

  __💡 protip:__ try `:hover`, `:active`, `:before`, `:after`

  --

  ### __tab:__ Elements

  #### shadow

  __💡 protip:__ works for `text-shadow` && `box-shadow`

  --

  ### __tab:__ Elements

  #### transition & CSS animations

  ![](/assets/images/devtools/css-animation.gif)

  --

  ### Rendering

  - paint flash
  - fps metter

  --

  ### Avoid the reflow like a plague

  ![Border image reflow](https://farm3.staticflickr.com/2922/14234595522_c68157e017_o.jpg)

  ---

  ## RESPONSIVE DESIGN

  --

  ### Responsive Design Mode

  😍 [FirefoxDeveloperTools](https://developer.mozilla.org/en-US/docs/Tools)

  `alt` + `cmd` + `m`

  --

  ### 🚨 touch != clic

  ![David Leuliette DevTools talk](/assets/images/devtools/touch.png)

  --

  ### Test on real Device

  [Safari devtools](https://developer.apple.com/safari/tools/)

  ![David Leuliette DevTools talk](/assets/images/devtools/ios-simulator.png)

  `Développement` > `simulator`

  --

  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/2NHtfp7Owxo?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>

  --

  ### Next level ?

  [http://vorlonjs.com/](http://vorlonjs.com/)

  ---

  ## WEBPERF

  --

  ### __tab:__ Network

  See time to first rendering

  __💡 protip:__ automatic screenshots

  --

  ### __tab:__ application

  __🤔 [Progressive Web App](https://developers.google.com/web/tools/chrome-devtools/progressive-web-apps) ?__

  - Responsive website on steroïds
  - Offline
  - Notifications

  --

  ### __tab:__ application

  1. [manifest.json](https://serviceworker-rails.herokuapp.com/manifest.json)

  2. Allow [notifications](https://serviceworker-rails.herokuapp.com/push-simple/)

  ---

  ## DEVTOOLS ENHANCED EDITION

  --

  ### [Change the DevTools UI](https://developers.google.com/web/tools/chrome-devtools/ui)

  `more` > `more tools`

  - Reorder panel tabs
  - Change DevTools placement

  --

  ### [shortcuts](https://developers.google.com/web/tools/chrome-devtools/shortcuts)

  ![](/assets/images/devtools/shortcut.png)

  --

  <iframe width="560" height="315" src="https://www.youtube.com/embed/3EXd-W_GCoI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  ---

  ## DEVTOOLS ADD-ONS

  --

  [chrome://extensions/](chrome://extensions/)

  <small>[chrome://chrome-urls/](chrome://chrome-urls/)</small>

  --

  ### [Open Graph Preview](https://chrome.google.com/webstore/detail/open-graph-preview/ehaigphokkgebnmdiicabhjhddkaekgh)

  --

  ### [font face ninja](https://fontface.ninja/)

  --

  __💡 protip:__ allow extension on private mode

  ![](/assets/images/devtools/private-mode.gif)

  --

  ### [lighthouse](https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk)

  ---

  ## NEXT ?

  --

  ### Try the hacker mode

  __atom__

  `alt` + `cmd` + `i`

  --

  ### Try the hacker mode

  __youtube.com__

  `alt` + `cmd` + `j`

      $('video').currentTime = $('video').duration

  ---

  ## CONCLUSION

  --

  ### Know your tools and level up with them

  [@ChromeDevTools](https://twitter.com/ChromeDevTools) on Twitter

  ![David Leuliette DevTools talk](/assets/images/devtools/danger.gif)

  --

  ## Q&A

  [@_flexbox](https://twitter.com/_flexbox)

  <br>
  You can share the link

  [http://courses.davidl.fr/presentations/devtools](http://courses.davidl.fr/presentations/devtools)
