---
title:    'Pray for bower'
layout:   presentation
noindex:  false
---

| # Debug your design likeaboss

  <span>#FE Web - Brussels - March 16th 2017</span>

  ---

  ## /whois

  ### David Leuliette <small>aka</small> [@_flexbox](https://twitter.com/_flexbox)

  <div class="presentation--avatar">
    ![Front-end developper David Leuliette](/assets/images/avatar.png)
  </div>

  Consultant Front-end developer

  --

  ## Today we will be covering

  - Previously on FE Web
  - Debug your Design
  - Webperf matters
  - DevTools enhanced edition
  - DevTools add-ons

  --

  ### Disclaimer

  ![David Leuliette DevTools talk](/assets/images/devtools/browser.jpg)

  --

  ### Why Chrome Canary / FirefoxDeveloper ?

  ![David Leuliette DevTools talk](/assets/images/devtools/amazing-feature.png)

  --


  ![David Leuliette DevTools talk](/assets/images/devtools/elements.png)


  ---

  ## INTRODUCTION

  Browser Development / Debug Tools

  [Chrome DevTools](https://developers.google.com/web/tools/chrome-devtools/)

  - Device Mode
  - Elements panel


  `Cmd` + `Opt` + `I` (Mac)

  ---

  ## DESIGN

  --

  __tab:__ Elements

  --

  ### Color

  __protip:__ Hit `SHIFT`

  --

  ### Responsive Design Mode

  https://developer.mozilla.org/en-US/docs/Tools

  alt + cmd + m

  --

  ### :warn: touch != clic

  --

  ### Test on real Device

  https://developer.apple.com/safari/tools/
  safari devtools
  Développement > simulator

  ![David Leuliette DevTools talk](/assets/images/devtools/ios-simulator.png)

  --

  ### Next level ?

  http://vorlonjs.com/

  --

  ### animations

  --

  ### Rendring

  - paint flash
  - fps metter

  avoid the repaint like a plague

  demo time button:hover


  ---

  ## WEBPERF

  Analyse et debug webperf



  ### Network

  > see time to first rendering
  DOM Performance Tools:

  * Chrome DevTools Timeline

  ### timeline tool

  start rendering time under 1 second

  > screenshot

  https://developers.google.com/web/tools/chrome-devtools/evaluate-performance/timeline-tool

  ### performance checklist

  Progressive Web App

  > Offline responsive Responsive website on steroïds + Notifications
  https://serviceworker-rails.herokuapp.com/push-simple/

  https://developers.google.com/web/tools/chrome-devtools/progressive-web-apps

  Application > service workers


  ---

  ## DEVTOOLS ENHANCED EDITION

  ### UI reference

  settings
  https://developers.google.com/web/tools/chrome-devtools/ui

  ### shortcuts

  https://developers.google.com/web/tools/chrome-devtools/shortcuts



  ---

  ## DEVTOOLS ADD-ONS

  chrome://chrome-urls/
  chrome://extensions/

  ### Open Graph Preview
  https://chrome.google.com/webstore/detail/open-graph-preview/ehaigphokkgebnmdiicabhjhddkaekgh

  ### font face ninja
  https://fontface.ninja/

  Protip: allow extension on private mode
  http://recordit.co/LDtGIvGZV3.gif

  ### lighthouse
  https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk



  ---

  ## NEXT ?

  Try the hacker mode

  atom
  alt + cmd + i

  youtube.com
  https://twitter.com/wesbos/status/827268492936114176



  ---

  ## Conclusion

  Know your tools and level up with them

  [@ChromeDevTools](https://twitter.com/ChromeDevTools) on Twitter

  ![David Leuliette DevTools talk](/assets/images/devtools/danger.gif)

  --

  ## Q&A

  <span>#ChtiJS</span>
