.reveal {
  .progress {
    height: 5px;
    width: 100%;
    bottom: inherit;
    top: 0;
  }

  h1 {
    font-weight: $font-weight-light;
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  a {
    padding: 0 2px;

    &:hover {
      background-color: $linkColorHover;
      color: $white !important;
    }
  }

  .presentation--course-title {
    @extend h3;
    list-style-type: none;
  }

  small {
    line-height: inherit;
  }

  section img {
    margin: 15px 0px;
    background: none;
    border: 0;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    transition: box-shadow 150ms linear;
  }

  a:hover img {
    background: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  }

  code {
    font-family: $font-family-monospace;
    color: $secondary-color;
  }

  pre code {
    color: $white;
  }

  blockquote {
    width: inherit;
    background: transparent;
    box-shadow: none;
    border-left: 5px solid $gray-dark;
  }


  footer {
    bottom: 0.10em;
    position: absolute;
    width: 100%;
    z-index: 15;

    .footer--terms {
      text-align: left;

      p {
        font-size: 0.4em;
        margin: 0.2em 0.5em;
      }
    }
  }
}
