.reveal {
  .progress {
    height: 5px;
    width: 100%;
    bottom: inherit;
    top: 0;
  }

  h1 {
    letter-spacing: -10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    line-height: 1.4;
  }
  .text-left {
    text-align: left;
  }

  a {
    padding: 3px;

    &:hover {
      background-color: $linkColorHover;
      color: $white !important;
    }
  }

  .presentation--course-title {
    @extend h3;
    list-style-type: none;
  }

  .presentation--avatar {
    img {
      max-width: 150px;
      border-radius: 100%;
      border: 2px solid $white;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
  }

  small {
    line-height: inherit;
  }

  section img {
    margin: 15px 0px;
    background: none;
    border: 0;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    transition: box-shadow 150ms linear;
  }

  a:hover img {
    background: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  }

  pre {
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 3px;
  }

  code {
    font-family: $font-family-monospace;
    color: $secondary-color;
  }

  pre code {
    color: $white;
  }

  pre {
    box-shadow: none;
  }

  blockquote {
    width: inherit;
    background: transparent;
    box-shadow: none;
    border: 0;
    position: relative;
    &:before,
    &:after {
      font-size: 400%;
      opacity: 0.6;
      position: absolute;
      line-height: 0;
    }
    &:before {
      content: '\201C';
      top: 0;
      left: 0;
    }
    &:after {
      content: '\201D';
      bottom: -0.4em;
      right: 0;
    }
  }


  footer {
    bottom: 0.10em;
    position: absolute;
    width: 100%;
    z-index: 15;

    .footer--terms {
      text-align: left;

      p {
        font-size: 0.4em;
        margin: 0.2em 0.5em;
      }
    }
  }
}
