// Reveal theme settings
$backgroundColor: $body-bg;

// Primary/body text
$mainFont: $font-family-sans-serif;
$mainFontSize: 36px;
$mainColor: $gray-dark;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: $font-family-sans-serif;
$headingColor: $black;
$headingLineHeight: 0.9em;
$headingLetterSpacing: -3px;
$headingTextTransform: none;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: $primary-color;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

@mixin bodyBackground() {
  @include radial-gradient($gray, $white);
  background-color: $gray-light;
}
