@import 'reveal.js/css/theme/template/settings';
@import 'reveal.js/css/print/pdf';

body {
  background-color: lighten($backgroundColor, 10%);
  background-image: none;
}

footer { bottom: 0; }

.print-link { display: none; }
